In [1]:
# Install PySpark in Colab
!pip install pyspark
!pip install findspark
#!pip install delta-spark
#!pip install pyspark
!pip install numpy
# Set Java path for Colab
import os
#os.environ['JAVA_HOME'] = r'C:\Program Files\Eclipse Adoptium\jdk-21.0.8.9-hotspot'
#os.environ['JAVA_HOME'] = r"C:/Program Files/Eclipse Adoptium/jdk-21.0.8.9-hotspot"
#'/usr/lib/jvm/java-11-openjdk-amd64'
#os.environ['JAVA_HOME'] = r"C:/Program Files/Eclipse Adoptium/jdk-21.0.8.9-hotspot"
#os.environ['PATH'] = os.environ['JAVA_HOME'] + r"\bin;" + os.environ['PATH']
#os.environ['JAVA_HOME'] =r"/usr/lib/jvm/java-11-openjdk-amd64"

'''
C:\Program Files\Eclipse Adoptium\jdk-21.0.8.9-hotspot\bin\java.exe
C:\Program Files\Common Files\Oracle\Java\javapath\java.exe
C:\Program Files (x86)\Common Files\Oracle\Java\java8path\java.exe
'''

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (2.2.6)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

'\nC:\\Program Files\\Eclipse Adoptium\\jdk-21.0.8.9-hotspot\x08in\\java.exe\nC:\\Program Files\\Common Files\\Oracle\\Java\\javapath\\java.exe\nC:\\Program Files (x86)\\Common Files\\Oracle\\Java\\java8path\\java.exe\n'

In [6]:
from pyspark.sql import SparkSession


#import os
#os.environ['JAVA_HOME'] = r'C:\Program Files\Eclipse Adoptium\jdk-21.0.8.9-hotspot'

# Create a new SparkSession
spark = (SparkSession
         .builder
         .appName("projet_sparkSQL_SQL_DeltaLake_Warehouse")
         .master("local[*]")  # Use local mode
         .config("spark.rpc.message.maxSize", "2047")
         .config("spark.network.maxFrameSize", "2047m")
         .config("spark.serializer.objectStreamReset", "10000")
         .config("spark.rpc.askTimeout", "120s")
         .config("spark.network.timeout", "240s")
         .config("spark.executor.memory", "512m")  
         .config("spark.driver.memory", "4g") # Increased driver memory again
         #.config("spark.jars.packages", "io.delta:delta-core_2.12:2.1.0")#delta-core_2.12-2.4.0.jar
         #
         .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
         .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
         #
         .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") 
         .config("spark.sql.adaptive.enabled", "false")
         .config("spark.dynamicAllocation.enabled", "false")
         .config("spark.sql.shuffle.partitions", "8")
         .getOrCreate())

# Set log level to ERROR
spark.sparkContext.setLogLevel("ERROR")

:: loading settings :: url = jar:file:/usr/local/lib/python3.10/dist-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-1048ec62-811c-47ad-8b9d-7cb7fa58767f;1.0
	confs: [default]
	found io.delta#delta-core_2.12;2.4.0 in central
	found io.delta#delta-storage;2.4.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 395ms :: artifacts dl 10ms
	:: modules in use:
	io.delta#delta-core_2.12;2.4.0 from central in [default]
	io.delta#delta-storage;2.4.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-1048ec62-811c-47ad-8b9d-7cb7fa58767f
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/7ms)
25/10/03 21:29:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [7]:
# Read CSV file into a DataFrame
df = (spark.read
      .format("csv")
      .option("header", "true")
      .load("../data/insurance_claims.csv"))

# Alternatively
## If your CSV file does not have a header row

#df = (spark.read
#      .format("csv")
#      .option("header", "false") # When the CSV file does not have any headers
#      .load("../data/netflix_titles.csv"))

In [8]:
df.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Collision| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|           Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22| Multi-vehicle Collision| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Collision|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|           Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02| Multi-vehicle Collision| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y|null|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13| Multi-vehicle Collision|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27| Multi-vehicle Collision|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N|null|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N|null|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Collision| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 10 rows

In [5]:
# Print schema of DataFrame
df.printSchema()

root
 |-- months_as_customer: string (nullable = true)
 |-- age: string (nullable = true)
 |-- policy_number: string (nullable = true)
 |-- policy_bind_date: string (nullable = true)
 |-- policy_state: string (nullable = true)
 |-- policy_csl: string (nullable = true)
 |-- policy_deductable: string (nullable = true)
 |-- policy_annual_premium: string (nullable = true)
 |-- umbrella_limit: string (nullable = true)
 |-- insured_zip: string (nullable = true)
 |-- insured_sex: string (nullable = true)
 |-- insured_education_level: string (nullable = true)
 |-- insured_occupation: string (nullable = true)
 |-- insured_hobbies: string (nullable = true)
 |-- insured_relationship: string (nullable = true)
 |-- capital-gains: string (nullable = true)
 |-- capital-loss: string (nullable = true)
 |-- incident_date: string (nullable = true)
 |-- incident_type: string (nullable = true)
 |-- collision_type: string (nullable = true)
 |-- incident_severity: string (nullable = true)
 |-- authorities_contacted: string (nullable = true)
 |-- incident_state: string (nullable = true)
 |-- incident_city: string (nullable = true)
 |-- incident_location: string (nullable = true)
 |-- incident_hour_of_the_day: string (nullable = true)
 |-- number_of_vehicles_involved: string (nullable = true)
 |-- property_damage: string (nullable = true)
 |-- bodily_injuries: string (nullable = true)
 |-- witnesses: string (nullable = true)
 |-- police_report_available: string (nullable = true)
 |-- total_claim_amount: string (nullable = true)
 |-- injury_claim: string (nullable = true)
 |-- property_claim: string (nullable = true)
 |-- vehicle_claim: string (nullable = true)
 |-- auto_make: string (nullable = true)
 |-- auto_model: string (nullable = true)
 |-- auto_year: string (nullable = true)
 |-- fraud_reported: string (nullable = true)
 |-- _c39: string (nullable = true)

In [6]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType

# Define a Schema
schema = StructType([

    StructField("months_as_customer", StringType(), True),
    StructField("age", StringType(), True),
    StructField("policy_number", StringType(), True),
    StructField("policy_bind_date", StringType(), True),
    StructField("policy_state", StringType(), True),
    StructField("policy_csl", StringType(), True),
    #StructField("policy_deductable", DateType(), True),
    StructField("policy_deductable", StringType(), True),
    StructField("policy_annual_premium", StringType(), True),
    StructField("umbrella_limit", StringType(), True),
    StructField("insured_zip", StringType(), True),
    StructField("insured_sex", StringType(), True),
    StructField("insured_education_level", StringType(), True),
    StructField("insured_occupation", StringType(), True),
    StructField("insured_hobbies", StringType(), True),
    StructField("insured_relationship", StringType(), True),
    StructField("capital-gains", StringType(), True),
    #StructField("capital-loss", DateType(), True),
    StructField("capital-loss", StringType(), True),
    #StructField("incident_date", IntegerType(), True),
    StructField("incident_date", StringType(), True),
    StructField("incident_type", StringType(), True),
    StructField("collision_type", StringType(), True),
    StructField("incident_severity", StringType(), True),
    StructField("authorities_contacted", StringType(), True),
    #StructField("incident_state", DateType(), True),
    StructField("incident_state", StringType(), True),
    #StructField("incident_city", IntegerType(), True),
    StructField("incident_city", StringType(), True),
    StructField("incident_location", StringType(), True),
    StructField("incident_hour_of_the_day", StringType(), True),
    StructField("number_of_vehicles_involved", StringType(), True),
    StructField("property_damage", StringType(), True),
    StructField("bodily_injuries", StringType(), True),
    #StructField("witnesses", DateType(), True),
    StructField("witnesses", StringType(), True),
    #StructField("police_report_available", IntegerType(), True),
    StructField("police_report_available", StringType(), True),
    StructField("total_claim_amount", StringType(), True),
    StructField("injury_claim", StringType(), True),
    StructField("property_claim", StringType(), True),
    StructField("vehicle_claim", StringType(), True),
    StructField("auto_make", StringType(), True),
    StructField("auto_model", StringType(), True),
    StructField("auto_year", StringType(), True),
    StructField("fraud_reported", StringType(), True),
    StructField("_c39", StringType(), True),
    ])

In [7]:
# Read CSV file into a DataFrame
df = (spark.read.format("csv")
      .option("header", "true")
      .option("nullValue", "null")
      .option("emptyValues", "")
      .option("dateFormat", "LLLL d, y")
      .schema(schema)
      .load("../data/insurance_claims.csv"))

In [8]:
df.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Collision| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|           Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22| Multi-vehicle Collision| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Collision|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|           Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02| Multi-vehicle Collision| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y|null|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13| Multi-vehicle Collision|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27| Multi-vehicle Collision|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N|null|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N|null|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Collision| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 10 rows

In [9]:
df_deduped = df.dropDuplicates([
               "months_as_customer"
               ,"age"
               ,"policy_state"
               ,"policy_annual_premium"
               ,"insured_zip"
               ,"insured_sex"
               ,"insured_education_level"
               ,"insured_occupation"
               ,"insured_hobbies"
               ,"insured_relationship"
               ,"incident_date"
               ,"incident_type"
               ,"collision_type"
               ,"collision_type"
               ,"incident_severity"
               ,"authorities_contacted"
               ,"incident_state"
               ,"incident_city"
               ,"incident_location"
               ,"incident_hour_of_the_day"
               ,"number_of_vehicles_involved"
               ,"police_report_available"
               ,"total_claim_amount"
               ,"injury_claim"
               ,"property_claim"
               ,"vehicle_claim"
               ,"auto_make"
               ,"auto_model"
               ,"auto_year"
    ])

df_deduped.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+-------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+----------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|  incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim| auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+-------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+----------+----------+---------+--------------+----+
|                97| 28|       191891|      2010-02-11|          OH|   100/300|             1000|               830.31|             0|     443854|       MALE|                     JD|   farming-fishing|    video-games|             husband|            0|      -32600|   2015-01-13|Single Vehicle Collision| Rear Collision|       Total Loss|            Ambulance|            SC|  Springfield|   8212 Flute Ridge|                      22|                          1|              ?|              1|        0|                      ?|             45270|       10060|         10060|        25150|      Jeep|  Wrangler|     2006|             N|null|
|               290| 47|       885789|      2008-07-21|          IN|   250/500|             1000|              1393.34|             0|     472922|       MALE|            High School|   exec-managerial| bungie-jumping|      other-relative|            0|      -61400|   2015-01-15| Multi-vehicle Collision| Side Collision|     Minor Damage|            Ambulance|            WV|    Northbend|      4939 Oak Lane|                      20|                          3|            YES|              1|        3|                    YES|             56160|        6240|         12480|        37440|      Audi|        A5|     2002|             N|null|
|               295| 48|       678849|      1992-02-22|          OH|  500/1000|             1000|              1332.07|             0|     609409|     FEMALE|                     MD|   exec-managerial|           polo|           unmarried|        49700|      -59100|   2015-01-28| Multi-vehicle Collision| Side Collision|       Total Loss|            Ambulance|            NY|    Hillsdale|1815 Cherokee Drive|                      20|                          2|             NO|              2|        1|                    YES|             86060|       13240|         13240|        59580|Volkswagen|    Passat|     2002|             N|null|
|               283| 46|       487356|      2000-08-30|          IL|  500/1000|             2000|              1313.33|             0|     455332|     FEMALE|                    PhD|  transport-moving|        reading|             husband|        53500|      -73600|   2015-01-09| Multi-vehicle Collision|Front Collision|     Major Damage|            Ambulance|            NY|    Riverwood|   4434 Lincoln Ave|                       3|                          3|              ?|              1|        3|                     NO|             77660|        7060|         14120|        56480|    Nissan|    Maxima|     2004|             Y|null|
|               118| 28|       283414|      1991-12-28|          IN|  500/1000|             2000|              1207.36|             0|     432896|     FEMALE|            High School| handlers-cleaners|        camping|           own-child|            0|      -57000|   2015-03-01| Multi-vehicle Collision|Front Collision|     Major Damage|            Ambulance|            WV|     Columbus|       7428 Sky Hwy|                      22|                          2|             NO|              1|        0|                      ?|             74200|        7420|         14840|        51940|Volkswagen|    Passat|     1997|             N|null|
|               269| 41|       334749|      1996-07-29|          OH|   100/300|             2000|              1422.21|             0|     620507|     FEMALE|              Associate| handlers-cleaners|           polo|           unmarried|            0|      -46400|   2015-01-16|Single Vehicle Collision| Side Collision|     Major Damage|            Ambulance|            WV|    Riverwood|        5022 1st St|                      21|                          1|            YES|              2|        1|                     NO|             85900|       17180|         17180|        51540|    Suburu| Forrestor|     2005|             Y|null|
|                61| 25|       757644|      1998-01-29|          IN|   100/300|             2000|               988.06|             0|     460579|     FEMALE|                Masters|     other-service|        dancing|       not-in-family|            0|           0|   2015-02-05| Multi-vehicle Collision| Rear Collision|     Minor Damage|            Ambulance|            WV|    Northbend| 7976 Britain Drive|                       1|                          3|            YES|              1|        0|                     NO|             32320|        4040|          4040|        24240|     Dodge|       RAM|     2000|             N|null|
|                64| 29|       796375|      2011-10-22|          OH|   250/500|             2000|              1202.28|             0|     479327|       MALE|            High School|   exec-managerial|      cross-fit|      other-relative|            0|      -61400|   2015-01-12|Single Vehicle Collision| Side Collision|     Minor Damage|            Ambulance|            VA|    Hillsdale|        5007 Oak St|                       4|                          1|              ?|              1|        2|                     NO|             43700|        4370|          4370|        34960|    Nissan|Pathfinder|     2007|             Y|null|
|               174| 33|       179538|      2014-04-07|          IN|   250/500|             2000|              1124.43|             0|     477346|     FEMALE|                College|   farming-fishing|      paintball|           own-child|            0|           0|   2015-01-16| Multi-vehicle Collision| Rear Collision|       Total Loss|            Ambulance|            WV|   Northbrook|        1916 Elm St|                      14|                          3|            YES|              0|        1|                    YES|             44200|        8840|          4420|        30940|      Saab|        93|     1995|             N|null|
|               145| 34|       454758|      1990-05-20|          IN|   100/300|             1000|              1142.48|             0|     608813|     FEMALE|                     JD|   priv-house-serv|       sleeping|      other-relative|            0|           0|   2015-01-13|Single Vehicle Collision| Side Collision|       Total Loss|            Ambulance|            NC|    Northbend|8805 Cherokee Drive|                      18|                          1|            YES|              2|        0|                     NO|             52250|        9500|          4750|        38000|    Suburu|    Legacy|     2012|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+-------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+----------+----------+---------+--------------+----+
only showing top 10 rows

In [10]:
# Sort by year in ascending order
df_sorted = df.orderBy("incident_date")

df_sorted.show(10, truncate=30)

# Sort by year in descending order, then by category in ascending order
df_sorted_descending = df.orderBy(["incident_date", "age"], ascending=[False, True])

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+--------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+----------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|   incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim| auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+--------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+----------+----------+---------+--------------+----+
|               406| 58|       756981|      2003-10-02|          OH|   250/500|             2000|              1117.04|             0|     605121|       MALE|                     MD|   exec-managerial|    video-games|           own-child|            0|      -42700|   2015-01-01| Multi-vehicle Collision|Front Collision|       Total Loss|                Other|            WV|    Northbend|      7571 Elm Ridge|                      15|                          3|              ?|              1|        2|                      ?|             65520|       10920|          5460|        49140|Volkswagen|     Jetta|     2009|             N|null|
|               126| 28|       596914|      1992-01-05|          IN|   250/500|              500|               1508.9|             0|     472814|     FEMALE|                     JD| machine-op-inspct|      skydiving|      other-relative|            0|           0|   2015-01-01| Multi-vehicle Collision| Rear Collision|       Total Loss|               Police|            WV|    Northbend|       5333 MLK Lane|                       3|                          4|             NO|              0|        1|                      ?|             67800|       11300|         11300|        45200|      Ford|      F150|     2011|             N|null|
|                61| 29|       180720|      1995-03-14|          IN|   250/500|             1000|              1115.27|             0|     613816|       MALE|                     JD| handlers-cleaners|           polo|           unmarried|            0|      -66000|   2015-01-01|              Parked Car|              ?|   Trivial Damage|                 None|            VA|    Hillsdale|      4629 Elm Ridge|                      10|                          1|            YES|              2|        1|                    YES|              5900|         590|           590|         4720|    Nissan|Pathfinder|     2010|             N|null|
|               460| 62|       183430|      2002-06-25|          IN|   250/500|             1000|              1187.96|       4000000|     618845|       MALE|                     JD|     other-service| bungie-jumping|           own-child|            0|           0|   2015-01-01| Multi-vehicle Collision| Rear Collision|     Minor Damage|               Police|            NY|     Columbus|        5380 Pine St|                      20|                          3|             NO|              1|        0|                      ?|             47160|           0|          5240|        41920|    Suburu|   Impreza|     2011|             N|null|
|               123| 28|       137675|      2012-12-03|          IL|   100/300|             2000|              1836.02|             0|     470559|       MALE|                Masters|  transport-moving|         movies|           own-child|        38000|      -41200|   2015-01-01|Single Vehicle Collision| Side Collision|     Major Damage|            Ambulance|            NC|    Riverwood|         4335 1st St|                       5|                          1|              ?|              2|        1|                    YES|             79800|       13300|          6650|        59850|Volkswagen|    Passat|     2011|             Y|null|
|               295| 49|       872814|      1992-06-13|          IL|   100/300|              500|              1141.62|             0|     451672|       MALE|                College|    prof-specialty|       kayaking|             husband|        34300|      -24300|   2015-01-01|           Vehicle Theft|              ?|     Minor Damage|                 None|            WV|     Columbus|  8085 Andromedia St|                       4|                          1|            YES|              1|        3|                    YES|              4320|         480|           480|         3360|  Mercedes|      E400|     2002|             N|null|
|               389| 53|       714738|      1998-03-21|          IL|  500/1000|             2000|               791.47|             0|     477260|       MALE|                Masters|      armed-forces|          chess|           unmarried|            0|           0|   2015-01-01|           Vehicle Theft|              ?|     Minor Damage|               Police|            NC|    Riverwood|     1617 Rock Drive|                       6|                          1|             NO|              1|        2|                     NO|              6300|         630|          1260|         4410|  Mercedes|      C300|     2001|             Y|null|
|                95| 28|       208298|      1990-11-03|          OH|   250/500|             1000|               773.99|             0|     458727|       MALE|              Associate|      armed-forces|    board-games|      other-relative|            0|      -70300|   2015-01-01|           Vehicle Theft|              ?|   Trivial Damage|                 None|            PA|  Springfield|      6359 MLK Ridge|                       3|                          1|            YES|              1|        2|                     NO|              3200|         640|           320|         2240|  Mercedes|      E400|     2014|             N|null|
|                 1| 29|       357949|      2006-05-24|          OH|  500/1000|              500|               854.58|             0|     612826|     FEMALE|                     JD|      craft-repair|      paintball|      other-relative|        52200|           0|   2015-01-01|Single Vehicle Collision| Side Collision|     Minor Damage|               Police|            SC|   Northbrook|     7178 Best Drive|                      15|                          1|              ?|              2|        3|                    YES|             86790|        7890|         23670|        55230|     Honda|       CRV|     2003|             N|null|
|               236| 39|       830878|      1996-11-03|          IN|   250/500|             1000|              1151.39|       4000000|     604555|     FEMALE|                Masters|   exec-managerial|        reading|                wife|            0|      -63900|   2015-01-01|              Parked Car|              ?|     Minor Damage|               Police|            NY|  Springfield|2832 Andromedia Lane|                      17|                          1|            YES|              0|        0|                      ?|              8700|         870|          1740|         6090|    Accura|       RSX|     2003|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+--------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+----------+----------+---------+--------------+----+
only showing top 10 rows

In [11]:
from pyspark.sql.functions import col
#filtered_df = df.filter(col("incident_date").year > 2015)
#filtered_df.show()

from pyspark.sql.functions import col, substring

# Extraire les 4 premiers caractres (anne)
df_year = df.withColumn("year", substring(col("incident_date"), 1, 4))
#df_day = df.withColumn("day", substring(col("incident_date"), 9, 2))
df_year.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|year|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Collision| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|2015|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|           Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|2015|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22| Multi-vehicle Collision| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|2015|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Collision|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|2015|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|           Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|2015|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02| Multi-vehicle Collision| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y|null|2015|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13| Multi-vehicle Collision|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|2015|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27| Multi-vehicle Collision|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N|null|2015|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N|null|2015|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Collision| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N|null|2015|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+----+
only showing top 10 rows

In [12]:
filtered_df = (
    df.filter(
        (col("auto_make") == "Nissan")
        & (substring(col("incident_date"), 1, 4) > 2010)))

filtered_df.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+-------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|  incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+-------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13| Multi-vehicle Collision|Front Collision|     Minor Damage|               Police|            NY|  Springfield|  5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|
|                70| 26|       558938|      2005-06-08|          OH|  500/1000|             1000|              1199.44|       5000000|     619884|       MALE|                College| machine-op-inspct|         hiking|           own-child|        63600|           0|   2015-02-22| Multi-vehicle Collision| Rear Collision|     Major Damage|                Other|            NY|    Riverwood|        5074 3rd St|                       0|                          3|              ?|              1|        2|                    YES|             52110|        5790|          5790|        40530|   Nissan|    Maxima|     2012|             N|null|
|               196| 39|       143972|      1992-08-02|          IN|  500/1000|             2000|              1475.73|             0|     477670|     FEMALE|            High School| handlers-cleaners|        camping|           own-child|        57000|      -27300|   2015-02-22| Multi-vehicle Collision| Side Collision|     Major Damage|               Police|            VA|     Columbus|     8101 3rd Ridge|                       8|                          3|              ?|              2|        0|                     NO|             60400|        6040|          6040|        48320|   Nissan|Pathfinder|     2014|             N|null|
|               199| 37|       982871|      1997-07-27|          IN|   250/500|              500|              1262.08|             0|     474615|       MALE|                     JD|      tech-support|    video-games|                wife|        48500|           0|   2015-01-08|Single Vehicle Collision|Front Collision|     Major Damage|            Ambulance|            NC|     Columbus|      3422 Flute St|                       4|                          1|              ?|              0|        3|                     NO|             60170|       10940|         10940|        38290|   Nissan|Pathfinder|     2011|             Y|null|
|               430| 59|       691189|      2004-01-10|          OH|   250/500|             2000|              1326.62|       7000000|     477310|       MALE|                     MD|     other-service| bungie-jumping|           own-child|            0|           0|   2015-01-03| Multi-vehicle Collision|Front Collision|     Minor Damage|                 Fire|            NY|    Riverwood| 5104 Francis Drive|                      19|                          3|              ?|              0|        3|                    YES|             81800|       16360|          8180|        57260|   Nissan|Pathfinder|     1998|             N|null|
|               154| 34|       598554|      1990-02-14|          IN|   100/300|              500|               795.23|             0|     609216|       MALE|                    PhD| machine-op-inspct|   base-jumping|      other-relative|        36900|           0|   2015-01-10| Multi-vehicle Collision| Rear Collision|     Major Damage|               Police|            NY|  Springfield|6618 Cherokee Drive|                      15|                          3|            YES|              2|        1|                      ?|             69480|       15440|             0|        54040|   Nissan|    Maxima|     2014|             Y|null|
|                78| 29|       694662|      2011-02-15|          IL|   250/500|             1000|               1234.2|       6000000|     457767|       MALE|                Masters|     other-service| bungie-jumping|      other-relative|            0|           0|   2015-01-29|           Vehicle Theft|              ?|     Minor Damage|               Police|            NY|   Northbrook|      5124 Maple St|                       3|                          1|            YES|              2|        2|                     NO|              7500|         750|          1500|         5250|   Nissan|    Maxima|     2002|             N|null|
|                29| 25|       235220|      2014-11-01|          IL|   250/500|             2000|              1352.83|             0|     464959|       MALE|                Masters|   farming-fishing|      skydiving|           own-child|            0|      -71700|   2015-01-22| Multi-vehicle Collision| Rear Collision|     Minor Damage|                Other|            SC|    Hillsdale|       1679 2nd Hwy|                       4|                          4|            YES|              1|        2|                    YES|             64890|        7210|          7210|        50470|   Nissan|Pathfinder|     2013|             Y|null|
|                87| 31|       853360|      2009-06-26|          IN|  500/1000|             1000|              1074.07|             0|     451312|     FEMALE|                Masters|             sales|          chess|             husband|            0|      -47500|   2015-01-27| Multi-vehicle Collision| Rear Collision|     Major Damage|                 Fire|            NY|  Springfield|  3052 Weaver Ridge|                      16|                          3|             NO|              0|        3|                    YES|             60940|        5540|         11080|        44320|   Nissan|    Ultima|     2006|             Y|null|
|               203| 38|       155724|      1998-02-20|          IL|   250/500|              500|              1394.43|             0|     606352|     FEMALE|                Masters|     other-service|      skydiving|       not-in-family|            0|           0|   2015-01-31|Single Vehicle Collision|Front Collision|     Major Damage|            Ambulance|            VA|     Columbus|   5071 Flute Ridge|                       7|                          1|              ?|              0|        1|                    YES|             55440|           0|          6160|        49280|   Nissan|    Maxima|     1999|             Y|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+-------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 10 rows

In [13]:
filtered_df = (
    df.filter(
        col("policy_state")
        .isin(["IN", "OH",  "IL"])))
#filtered_df.show(3)
filtered_df.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Collision| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|           Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22| Multi-vehicle Collision| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Collision|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|           Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02| Multi-vehicle Collision| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y|null|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13| Multi-vehicle Collision|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27| Multi-vehicle Collision|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N|null|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N|null|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Collision| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 10 rows

In [14]:
# filter the DataFrame based on a substring match
filtered_df = df.filter(col("incident_type").like("%Vehicle%"))

# display the filtered DataFrame
filtered_df.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Collision| Side Collision|     Major Damage|               Police|            SC|     Columbus|   9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|           Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Collision|Front Collision|     Major Damage|               Police|            OH|    Arlington| 6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|           Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|     3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            WV|    Arlington|  4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N|null|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Collision| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale| 3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N|null|
|               235| 42|       543610|      2002-05-26|          OH|   100/300|              500|              1253.12|       4000000|     462283|     FEMALE|                Masters|   exec-managerial|        dancing|      other-relative|        38400|           0|   2015-01-06|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            NY|    Northbend|   1558 1st Ridge|                      22|                          1|            YES|              2|        2|                      ?|             87010|        7910|         15820|        63280|     Ford|      F150|     2002|             N|null|
|                60| 23|       842643|      1997-11-20|          OH|  500/1000|              500|              1215.36|       3000000|     432220|       MALE|                     MD|   protective-serv|        reading|                wife|            0|           0|   2015-01-22|Single Vehicle Collision| Rear Collision|       Total Loss|            Ambulance|            SC|    Northbend|   6655 5th Drive|                       9|                          1|            YES|              1|        0|                     NO|             56520|        4710|          9420|        42390|     Saab|        95|     2000|             N|null|
|               180| 38|       644081|      1998-12-28|          OH|   250/500|             2000|              1301.13|             0|     476685|     FEMALE|                College| machine-op-inspct|    board-games|       not-in-family|        41300|      -55500|   2015-01-15|Single Vehicle Collision| Rear Collision|       Total Loss|               Police|            SC|  Springfield|   6851 3rd Drive|                      12|                          1|             NO|              0|        2|                    YES|             46200|        4200|          8400|        33600|    Dodge|      Neon|     2003|             Y|null|
|               140| 31|       275265|      2004-11-15|          IN|  500/1000|              500|               708.64|       6000000|     470610|       MALE|            High School| machine-op-inspct|        reading|           unmarried|        53500|           0|   2015-01-06|Single Vehicle Collision| Side Collision|       Total Loss|               Police|            WV|    Northbend|     4546 Tree St|                       9|                          1|             NO|              0|        2|                    YES|             77880|       14160|          7080|        56640|   Suburu|    Legacy|     2015|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 10 rows

In [15]:
# filter the DataFrame based on a date range
filtered_df = df.filter((col("incident_date") >= "2010-09-05") & (col("incident_date") <= "2020-09-01"))

# display the filtered DataFrame
filtered_df.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Collision| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|           Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22| Multi-vehicle Collision| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Collision|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|           Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02| Multi-vehicle Collision| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y|null|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13| Multi-vehicle Collision|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27| Multi-vehicle Collision|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N|null|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N|null|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Collision| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 10 rows

In [16]:
filtered_df = df.filter((col("incident_date").between("2010-02-01","2015-03-01")))

# display the filtered DataFrame
filtered_df.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Collision| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|           Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22| Multi-vehicle Collision| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Collision|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|           Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02| Multi-vehicle Collision| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y|null|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13| Multi-vehicle Collision|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27| Multi-vehicle Collision|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N|null|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N|null|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Collision| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 10 rows

In [17]:
# Dropping rows with null values
df_dropna = df.dropna()

# Displaying the DataFrame after dropping null values
df_dropna.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+-------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|incident_type|collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+-------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+-------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+

In [18]:
# Filling null values with a specific value
df_fillna = df.fillna("N/A")

# Displaying the DataFrame after filling null values
df_fillna.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Collision| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y| N/A|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|           Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y| N/A|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22| Multi-vehicle Collision| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N| N/A|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Collision|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y| N/A|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|           Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N| N/A|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02| Multi-vehicle Collision| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y| N/A|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13| Multi-vehicle Collision|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N| N/A|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27| Multi-vehicle Collision|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N| N/A|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N| N/A|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Collision| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N| N/A|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 10 rows

In [19]:
# Filling null values with a specific value
df_fillna = df.fillna("N/A")

# Displaying the DataFrame after filling null values
df_fillna.show(10, truncate=30)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Collision| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y| N/A|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|           Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y| N/A|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22| Multi-vehicle Collision| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N| N/A|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Collision|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y| N/A|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|           Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N| N/A|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02| Multi-vehicle Collision| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y| N/A|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13| Multi-vehicle Collision|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N| N/A|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27| Multi-vehicle Collision|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N| N/A|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N| N/A|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Collision| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N| N/A|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 10 rows

In [20]:
'''
df = spark.createDataFrame(df,

  [
               "months_as_customer"
               ,"age"
               ,"policy_state"
               ,"policy_annual_premium"
               ,"insured_zip"
               ,"insured_sex"
               ,"insured_education_level"
               ,"insured_occupation"
               ,"insured_hobbies"
               ,"insured_relationship"
               ,"incident_date"
               ,"incident_type"
               ,"collision_type"
               ,"collision_type"
               ,"incident_severity"
               ,"authorities_contacted"
               ,"incident_state"
               ,"incident_city"
               ,"incident_location"
               ,"incident_hour_of_the_day"
               ,"number_of_vehicles_involved"
               ,"police_report_available"
               ,"total_claim_amount"
               ,"injury_claim"
               ,"property_claim"
               ,"vehicle_claim"
               ,"auto_make"
               ,"auto_model"
               ,"auto_year"
  ])

  '''
# Ajouter l'import manquant
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# Define a UDF to handle null values
def process_insured_relationship(insured_relationship):
    if insured_relationship is None:
        return "Unknown"
    else:
        return insured_relationship.upper()

# Register the UDF
process_insured_relationship_udf = udf(process_insured_relationship, StringType())

# Apply the UDF to the DataFrame
df_with_processed_insured_relationship = df.withColumn("process_insured_relationship", process_insured_relationship_udf(df["insured_relationship"]))

# Show the resulting DataFrame
df_with_processed_insured_relationship.show(10, truncate=30)
#df_year.show(10, truncate=30)     # 10 lignes, troncature  30 caractres

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+----------------------------+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|           incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|process_insured_relationship|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+----------------------------+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Collision| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|                     HUSBAND|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|           Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|              OTHER-RELATIVE|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22| Multi-vehicle Collision| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|                   OWN-CHILD|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Collision|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|                   UNMARRIED|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|           Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|                   UNMARRIED|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02| Multi-vehicle Collision| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y|null|                   UNMARRIED|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13| Multi-vehicle Collision|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|                     HUSBAND|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27| Multi-vehicle Collision|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N|null|                   UNMARRIED|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Collision|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N|null|                   OWN-CHILD|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Collision| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N|null|                        WIFE|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+------------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+----------------------------+
only showing top 10 rows

In [21]:
!pip install numpy pandas matplotlib seaborn scikit-learn
from pyspark.sql import SparkSession
from pyspark.ml.feature import Imputer
'''
#Pour utiliser ceci, il faut utiliser les colonnes numeriques
# Create a sample DataFrame with missing values
data = [
    (1, 2.0),
    (2, None),
    (3, 5.0),
    (4, None),
    (5, 7.0)
]
#df = spark.createDataFrame(data, ["id", "value"])
# collision_type  property_damage|
# Create an instance of Imputer and specify the input/output columns
imputer = Imputer(inputCols=["collision_type"], outputCols=["imputed_collision_type"])

# Fit the imputer to the data and transform the DataFrame
imputer_model = imputer.fit(df)
imputed_df = imputer_model.transform(df)

# Show the resulting DataFrame
imputed_df.show()

'''

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (2.2.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.3.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.10.6)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.7.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2025.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.60.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.2.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: scipy>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

'\n#Pour utiliser ceci, il faut utiliser les colonnes numeriques\n# Create a sample DataFrame with missing values\ndata = [\n    (1, 2.0),\n    (2, None),\n    (3, 5.0),\n    (4, None),\n    (5, 7.0)\n]\n#df = spark.createDataFrame(data, ["id", "value"])\n# collision_type  property_damage|\n# Create an instance of Imputer and specify the input/output columns\nimputer = Imputer(inputCols=["collision_type"], outputCols=["imputed_collision_type"])\n\n# Fit the imputer to the data and transform the DataFrame\nimputer_model = imputer.fit(df)\nimputed_df = imputer_model.transform(df)\n\n# Show the resulting DataFrame\nimputed_df.show()\n\n'

In [22]:
#insured_sex insured_relationship

def concat(insured_sex, insured_relationship):
    return insured_sex + " " + insured_relationship

from pyspark.sql.functions import udf
concat_udf = udf(concat)

from pyspark.sql.types import StringType
concat_udf = udf(concat, StringType())

df = df.withColumn("insured_sex_with_insured_relationship", concat_udf(df["insured_sex"], df["insured_relationship"]))

#df.show(20, truncate=False)
#on peut faire un regroupement selon insured_sex_with_insured_relationship = FEMALE own-child,  MALE unmarried, MALE husband, MALE wife

"""
# Paramtres pour un meilleur affichage
df.show(
    n=20,           # Nombre de lignes
    truncate=False, # Ne pas tronquer les colonnes
    vertical=False  # Affichage horizontal
)
"""

# Convertir en DataFrame Pandas pour un affichage tableau propre
df_sample = df.limit(20).toPandas()  # Limiter  20 lignes
print(df_sample)

   months_as_customer age policy_number policy_bind_date policy_state  \
0                 328  48        521585       2014-10-17           OH
1                 228  42        342868       2006-06-27           IN
2                 134  29        687698       2000-09-06           OH
3                 256  41        227811       1990-05-25           IL
4                 228  44        367455       2014-06-06           IL
5                 256  39        104594       2006-10-12           OH
6                 137  34        413978       2000-06-04           IN
7                 165  37        429027       1990-02-03           IL
8                  27  33        485665       1997-02-05           IL
9                 212  42        636550       2011-07-25           IL
10                235  42        543610       2002-05-26           OH
11                447  61        214618       1999-05-29           OH
12                 60  23        842643       1997-11-20           OH
13                121  34        626808       2012-10-26           OH
14                180  38        644081       1998-12-28           OH
15                473  58        892874       1992-10-19           IN
16                 70  26        558938       2005-06-08           OH
17                140  31        275265       2004-11-15           IN
18                160  37        921202       2014-12-28           OH
19                196  39        143972       1992-08-02           IN

   policy_csl policy_deductable policy_annual_premium umbrella_limit  \
0     250/500              1000               1406.91              0
1     250/500              2000               1197.22        5000000
2     100/300              2000               1413.14        5000000
3     250/500              2000               1415.74        6000000
4    500/1000              1000               1583.91        6000000
5     250/500              1000                1351.1              0
6     250/500              1000               1333.35              0
7     100/300              1000               1137.03              0
8     100/300               500               1442.99              0
9     100/300               500               1315.68              0
10    100/300               500               1253.12        4000000
11    100/300              2000               1137.16              0
12   500/1000               500               1215.36        3000000
13    100/300              1000                936.61              0
14    250/500              2000               1301.13              0
15    100/300              2000                1131.4              0
16   500/1000              1000               1199.44        5000000
17   500/1000               500                708.64        6000000
18   500/1000               500               1374.22              0
19   500/1000              2000               1475.73              0

   insured_zip  ... total_claim_amount injury_claim property_claim  \
0       466132  ...              71610         6510          13020
1       468176  ...               5070          780            780
2       430632  ...              34650         7700           3850
3       608117  ...              63400         6340           6340
4       610706  ...               6500         1300            650
5       478456  ...              64100         6410           6410
6       441716  ...              78650        21450           7150
7       603195  ...              51590         9380           9380
8       601734  ...              27700         2770           2770
9       600983  ...              42300         4700           4700
10      462283  ...              87010         7910          15820
11      615561  ...             114920        17680          17680
12      432220  ...              56520         4710           9420
13      464652  ...               7280         1120           1120
14      476685  ...              46200         4200           8400
15      458733  ...              63120        10520          10520
16      619884  ...              52110         5790           5790
17      470610  ...              77880        14160           7080
18      472135  ...              72930         6630          13260
19      477670  ...              60400         6040           6040

   vehicle_claim  auto_make  auto_model auto_year fraud_reported  _c39  \
0          52080       Saab         92x      2004              Y  None
1           3510   Mercedes        E400      2007              Y  None
2          23100      Dodge         RAM      2007              N  None
3          50720  Chevrolet       Tahoe      2014              Y  None
4           4550     Accura         RSX      2009              N  None
5          51280       Saab          95      2003              Y  None
6          50050     Nissan  Pathfinder      2012              N  None
7          32830       Audi          A5      2015              N  None
8          22160     Toyota       Camry      2012              N  None
9          32900       Saab         92x      1996              N  None
10         63280       Ford        F150      2002              N  None
11         79560       Audi          A3      2006              N  None
12         42390       Saab          95      2000              N  None
13          5040     Toyota  Highlander      2010              N  None
14         33600      Dodge        Neon      2003              Y  None
15         42080     Accura         MDX      1999              Y  None
16         40530     Nissan      Maxima      2012              N  None
17         56640     Suburu      Legacy      2015              N  None
18         53040     Accura          TL      2015              N  None
19         48320     Nissan  Pathfinder      2014              N  None

   insured_sex_with_insured_relationship
0                           MALE husband
1                    MALE other-relative
2                       FEMALE own-child
3                       FEMALE unmarried
4                         MALE unmarried
5                       FEMALE unmarried
6                           MALE husband
7                         MALE unmarried
8                       FEMALE own-child
9                              MALE wife
10                 FEMALE other-relative
11                 FEMALE other-relative
12                             MALE wife
13                           FEMALE wife
14                  FEMALE not-in-family
15                 FEMALE other-relative
16                        MALE own-child
17                        MALE unmarried
18                 FEMALE other-relative
19                      FEMALE own-child

[20 rows x 41 columns]

In [23]:
#ceci je n ai pas encore mis
from pyspark.sql.functions import col, row_number, lead, lag, count, avg
from pyspark.sql.window import Window

df_non_nul = df.filter(col('months_as_customer').isNotNull() & col('age').isNotNull() &
               col('policy_state').isNotNull() & col('policy_annual_premium').isNotNull() &
               col('insured_zip').isNotNull() & col('insured_sex').isNotNull() &
               col('insured_education_level').isNotNull() & col('insured_occupation').isNotNull() &
               col('insured_hobbies').isNotNull() & col('insured_relationship').isNotNull() &
               col('incident_date').isNotNull() & col('incident_type').isNotNull() &
               col('collision_type').isNotNull() & col('collision_type').isNotNull() &
               col('incident_severity').isNotNull() & col('authorities_contacted').isNotNull() &
               col('incident_state').isNotNull() & col('incident_city').isNotNull() &
               col('incident_location').isNotNull() & col('incident_hour_of_the_day').isNotNull() &
               col('number_of_vehicles_involved').isNotNull() & col('police_report_available').isNotNull() &
               col('total_claim_amount').isNotNull() & col('injury_claim').isNotNull() &
               col('property_claim').isNotNull() & col('vehicle_claim').isNotNull() &
               col('auto_make').isNotNull() & col('auto_model').isNotNull() &
               col('auto_year').isNotNull())


window_spec = Window.partitionBy("insured_sex").orderBy("age")
result = df_non_nul.withColumn("row_number", row_number().over(window_spec))
result.select(
               "age"
               ,"insured_sex"
               ,"row_number"
    ).show()

+---+-----------+----------+
|age|insured_sex|row_number|
+---+-----------+----------+
| 21|       MALE|         1|
| 21|       MALE|         2|
| 21|       MALE|         3|
| 22|       MALE|         4|
| 23|       MALE|         5|
| 23|       MALE|         6|
| 23|       MALE|         7|
| 24|       MALE|         8|
| 25|       MALE|         9|
| 25|       MALE|        10|
| 25|       MALE|        11|
| 26|       MALE|        12|
| 26|       MALE|        13|
| 26|       MALE|        14|
| 26|       MALE|        15|
| 26|       MALE|        16|
| 26|       MALE|        17|
| 26|       MALE|        18|
| 26|       MALE|        19|
| 26|       MALE|        20|
+---+-----------+----------+
only showing top 20 rows

In [24]:
#Nested Window Functions

window_spec = Window.partitionBy("insured_sex").orderBy("age")
#result = df_non_nul.withColumn("row_number", row_number().over(window_spec))

#result = df.withColumn("row_number", row_number().over(window_spec))
#result.select("title","country","date_added","row_number").show()

df_count_sex = result.withColumn("count_sex", count("insured_sex").over(window_spec))

#window_spec = Window.partitionBy("country").orderBy("release_year")
#df = df.withColumn("running_total", count("show_id").over(window_spec))
df_count_sex.show()

#df = df.withColumn("next_running_total", lead("running_total").over(window_spec))
#df = df.withColumn("diff", df["next_running_total"] - df["running_total"])

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+-------------------------------------+----------+---------+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|  incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|insured_sex_with_insured_relationship|row_number|count_sex|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+-------------------------------------+----------+---------+
|                 7| 21|       204294|      1991-11-16|          IN|  500/1000|             1000|              1342.72|             0|     445638|       MALE|              Associate| machine-op-inspct|        camping|                wife|            0|      -45300|   2015-02-10|Single Vehicle Co...|Front Collision|       Total Loss|                Other|            NY|    Hillsdale|     2654 Elm Drive|                      21|                          1|              ?|              1|        2|                      ?|             62460|        6940|          6940|        48580|    Honda|    Accord|     2003|             N|null|                            MALE wife|         1|        3|
|                 8| 21|       355085|      2012-10-09|          IN|  500/1000|              500|               1021.9|             0|     464237|       MALE|            High School| handlers-cleaners|         hiking|             husband|            0|           0|   2015-02-05|Single Vehicle Co...|Front Collision|     Major Damage|                Other|            WV|     Columbus|       6117 4th Ave|                      21|                          1|              ?|              0|        0|                      ?|             91260|       14040|         14040|        63180|   Toyota|   Corolla|     2012|             N|null|                         MALE husband|         2|        3|
|                13| 21|       990998|      2006-10-18|          IN|   100/300|             1000|              1556.31|             0|     463809|       MALE|              Associate|    prof-specialty|           golf|       not-in-family|            0|      -75000|   2015-01-19|Multi-vehicle Col...| Side Collision|       Total Loss|               Police|            NY|    Hillsdale|       9580 MLK Ave|                      19|                          3|            YES|              2|        0|                    YES|             94930|        8630|          8630|        77670|   Accura|       RSX|     2014|             N|null|                   MALE not-in-family|         3|        3|
|                39| 22|       691115|      1993-01-28|          IN|  500/1000|              500|              1173.21|             0|     431202|       MALE|                     JD|   farming-fishing|           polo|       not-in-family|            0|           0|   2015-02-14|Single Vehicle Co...| Rear Collision|     Major Damage|               Police|            SC|    Northbend|      4782 Sky Lane|                      14|                          1|            YES|              0|        1|                    YES|             86130|       15660|          7830|        62640|   Suburu|    Legacy|     2009|             Y|null|                   MALE not-in-family|         4|        4|
|                60| 23|       842643|      1997-11-20|          OH|  500/1000|              500|              1215.36|       3000000|     432220|       MALE|                     MD|   protective-serv|        reading|                wife|            0|           0|   2015-01-22|Single Vehicle Co...| Rear Collision|       Total Loss|            Ambulance|            SC|    Northbend|     6655 5th Drive|                       9|                          1|            YES|              1|        0|                     NO|             56520|        4710|          9420|        42390|     Saab|        95|     2000|             N|null|                            MALE wife|         5|        7|
|                61| 23|       432068|      2007-03-09|          IL|   100/300|              500|              1111.72|             0|     448857|       MALE|                     JD|   exec-managerial| bungie-jumping|      other-relative|        54600|           0|   2015-02-25|Single Vehicle Co...| Side Collision|     Major Damage|                 Fire|            PA|    Riverwood|  2774 Apache Drive|                       6|                          1|              ?|              1|        2|                      ?|             41850|        4650|          4650|        32550|   Suburu|    Legacy|     1997|             N|null|                  MALE other-relative|         6|        7|
|                58| 23|       520179|      1992-05-29|          OH|  500/1000|             2000|              1471.44|       5000000|     446657|       MALE|            High School|  transport-moving|        reading|           own-child|        57500|           0|   2015-01-20|Single Vehicle Co...| Rear Collision|     Major Damage|                 Fire|            NC|    Riverwood|    6110 Rock Ridge|                       8|                          1|             NO|              2|        1|                     NO|             50380|        4580|          9160|        36640|Chevrolet|     Tahoe|     2007|             Y|null|                       MALE own-child|         7|        7|
|                78| 24|       910622|      1992-03-22|          IN|   100/300|              500|              1175.51|             0|     474792|       MALE|                Masters|      craft-repair|       yachting|             husband|            0|           0|   2015-01-06|       Vehicle Theft|              ?|     Minor Damage|               Police|            NY|     Columbus|     3553 Texas Ave|                      20|                          1|              ?|              0|        1|                    YES|              7480|         680|           680|         6120|    Dodge|      Neon|     2003|             N|null|                         MALE husband|         8|        8|
|                64| 25|       908616|      2000-02-18|          IL|   250/500|             1000|               954.16|             0|     473328|       MALE|                Masters|    prof-specialty|    video-games|             husband|        53200|           0|   2015-01-18|Multi-vehicle Col...| Side Collision|     Major Damage|            Ambulance|            SC|     Columbus|     4687 5th Drive|                      22|                          4|             NO|              0|        0|                      ?|             75600|       12600|         12600|        50400|   Toyota|   Corolla|     2005|             N|null|                         MALE husband|         9|       11|
|                29| 25|       235220|      2014-11-01|          IL|   250/500|             2000|              1352.83|             0|     464959|       MALE|                Masters|   farming-fishing|      skydiving|           own-child|            0|      -71700|   2015-01-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|                Other|            SC|    Hillsdale|       1679 2nd Hwy|                       4|                          4|            YES|              1|        2|                    YES|             64890|        7210|          7210|        50470|   Nissan|Pathfinder|     2013|             Y|null|                       MALE own-child|        10|       11|
|                41| 25|       564654|      2003-07-16|          OH|   100/300|             1000|              1004.14|             0|     459889|       MALE|                Masters|   priv-house-serv|       sleeping|                wife|        35400|           0|   2015-02-15|Multi-vehicle Col...|Front Collision|     Major Damage|                 Fire|            NC|    Hillsdale|     4242 Rock Lane|                      13|                          3|             NO|              1|        3|                     NO|             48000|        9600|          4800|        33600|    Dodge|       RAM|     1995|             N|null|                            MALE wife|        11|       11|
|                70| 26|       558938|      2005-06-08|          OH|  500/1000|             1000|              1199.44|       5000000|     619884|       MALE|                College| machine-op-inspct|         hiking|           own-child|        63600|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Major Damage|                Other|            NY|    Riverwood|        5074 3rd St|                       0|                          3|              ?|              1|        2|                    YES|             52110|        5790|          5790|        40530|   Nissan|    Maxima|     2012|             N|null|                       MALE own-child|        12|       28|
|                79| 26|       206213|      1995-05-08|          IL|   100/300|              500|              1451.62|             0|     456446|       MALE|              Associate|      tech-support|       kayaking|       not-in-family|            0|      -55700|   2015-01-03|Single Vehicle Co...| Rear Collision|     Minor Damage|            Ambulance|            WV|     Columbus|   4862 Lincoln Hwy|                      19|                          1|             NO|              2|        2|                      ?|             40000|        8000|          4000|        28000|      BMW|        M5|     2010|             N|null|                   MALE not-in-family|        13|       28|
|                22| 26|       420810|      2007-08-11|          OH|   100/300|             1000|              1276.57|             0|     467784|       MALE|                    PhD|      craft-repair|      skydiving|       not-in-family|        71500|           0|   2015-01-06|Single Vehicle Co...| Rear Collision|     Minor Damage|                 Fire|            NY|    Arlington|    6723 Best Drive|                       3|                          1|            YES|              1|        2|                     NO|             78900|       15780|          7890|        55230|Chevrolet| Silverado|     1995|             N|null|                   MALE not-in-family|        14|       28|
|                86| 26|       391652|      1998-10-12|          OH|   100/300|              500|              1382.88|       7000000|     434923|       MALE|                     JD|      tech-support|      cross-fit|      other-relative|            0|      -30300|   2015-01-12|Single Vehicle Co...| Rear Collision|     Minor Damage|               Police|            SC|    Northbend|2293 Washington Ave|                      11|                          1|              ?|              1|        1|                    YES|             81840|       14880|          7440|        59520|Chevrolet|    Malibu|     2011|             Y|null|                  MALE other-relative|        15|       28|
|                73| 26|       918777|      2003-04-04|          IL|   250/500|             2000|              1191.19|       4000000|     468813|       MALE|                     MD|   farming-fishing|     basketball|       not-in-family|        29300|           0|   2015-02-12|Multi-vehicle Col...| Rear Collision|       Total Loss|                Other|            VA|   Northbrook|     3653 Elm Drive|                       9|                          3|              ?|              0|        1|                    YES|             40160|        5020|             0|        35140|Chevrolet|     Tahoe|     2003|             N|null|                   MALE not-in-family|        16|       28|
|               107| 26|       261119|      1997-03-21|          IL|  500/1000|             2000|               932.14|             0|     612550|       MALE|                     MD|             sales|      cross-fit|           own-child|        40600|           0|   2015-01-10|Multi-vehicle Col...| Rear Collision|       Total Loss|                 Fire|            SC|     Columbus|     1273 Rock Lane|                       2|                          3|             NO|              2|        3|                     NO|             78650|       14300|          7150|        57200|     Audi|        A3|     1996|             Y|null|                       MALE own-child|        17|       28|
|                10| 26|       582973|      2008-06-11|          IN|   100/300|             2000|               765.64|             0|     466191|       MALE|                     MD|             sales|   base-jumping|       not-in-family|            0|      -22200|   2015-02-16|Multi-vehicle Col...|Front Collision|     Major Damage|            Ambulance|            SC|   Northbrook|    6985 Maple Lane|                       3|                          3|              ?|              0|        3|                      ?|             31350|        2850|          5700|        22800|    Honda|    Accord|     2001|             Y|null|                   MALE not-in-family|        18|       28|
|                97| 26|       225865|      1991-11-04|          IL|   250/500|             1000|              1252.08|             0|     465456|       MALE|                College|   exec-managerial|       sleeping|       not-in-family|            0|           0|   2015-02-08|Multi-vehicle Col...| Rear Collision|     Major Damage|                Other|            VA|  Springfield|      6191 Oak Lane|                       4|                          2|            YES|              2|        2|                     NO|             50400|       10080|          5040|        35280|    Honda|       CRV|     2000|             Y|null|                   MALE not-in-family|        19|       28|
|                66| 26|       445973|      1998-11-13|          IL|   250/500|             1000|               988.29|             0|     476502|       MALE|                College|      armed-forces|      skydiving|           own-child|            0|           0|   2015-02-02|Single Vehicle Co...| Rear Collision|     Major Damage|               Police|            NY|    Northbend|   8203 Lincoln Ave|                       8|                          1|              ?|              2|        2|                    YES|             57860|           0|         10520|        47340|   Suburu|   Impreza|     2008|             Y|null|                       MALE own-child|        20|       28|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+-------------------------------------+----------+---------+
only showing top 20 rows

In [25]:
grouped_df_age = df.groupBy("age")

# Count the number of rows in each group
count_df_age = grouped_df_age.count()
count_df_age.show()

+---+-----+
|age|count|
+---+-----+
| 44|   32|
| 43|   49|
| 56|    8|
| 48|   25|
| 62|    4|
| 55|   14|
| 35|   32|
| 64|    2|
| 52|    4|
| 21|    6|
| 61|   10|
| 31|   42|
| 27|   24|
| 36|   32|
| 60|    9|
| 20|    1|
| 33|   39|
| 38|   42|
| 40|   38|
| 30|   42|
+---+-----+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import max, col
'''
# Apply custom aggregation using max
max_age_df = count_df_age.agg(max(col("count")))
max_age_df.show()
'''

grouped_df = df.groupBy("age")
count_df = grouped_df.count()
count_df.show()
max_policy_annual_premium = grouped_df.agg(max(col("policy_annual_premium").alias("max_premium")))
max_policy_annual_premium.show()



'''
# Correct - agg() retourne un DataFrame
max_policy_df = grouped_df.agg(max(col("policy_annual_premium")).alias("max_premium"))
max_policy_df.show()

# Si vous voulez juste la valeur maximale
max_value = max_policy_df.collect()[0]["max_premium"]
print(f"Maximum: {max_value}")




grouped_df = df.groupBy("country")
count_df = grouped_df.count()
count_df.show()

# Apply custom aggregation using max
max_release_df = grouped_df.agg(max(col("date_added")))
max_release_df.show()
'''

+---+-----+
|age|count|
+---+-----+
| 44|   32|
| 43|   49|
| 56|    8|
| 48|   25|
| 62|    4|
| 55|   14|
| 35|   32|
| 64|    2|
| 52|    4|
| 21|    6|
| 61|   10|
| 31|   42|
| 27|   24|
| 36|   32|
| 60|    9|
| 20|    1|
| 33|   39|
| 38|   42|
| 40|   38|
| 30|   42|
+---+-----+
only showing top 20 rows

+---+-----------------------------------------+
|age|max(policy_annual_premium AS max_premium)|
+---+-----------------------------------------+
| 43|                                   984.02|
| 44|                                   974.16|
| 56|                                  1935.85|
| 21|                                   915.41|
| 35|                                   919.37|
| 48|                                    958.3|
| 52|                                    973.5|
| 55|                                   995.56|
| 62|                                  1395.77|
| 64|                                   989.24|
| 20|                                  1189.98|
| 27|                                    982.7|
| 31|                                   951.27|
| 36|                                   987.42|
| 60|                                   766.19|
| 61|                                  1618.65|
| 24|                                   922.67|
| 30|                                   956.69|
| 33|                                   969.88|
| 38|                                   999.52|
+---+-----------------------------------------+
only showing top 20 rows

'\n# Correct - agg() retourne un DataFrame\nmax_policy_df = grouped_df.agg(max(col("policy_annual_premium")).alias("max_premium"))\nmax_policy_df.show()\n\n# Si vous voulez juste la valeur maximale\nmax_value = max_policy_df.collect()[0]["max_premium"]\nprint(f"Maximum: {max_value}")\n\n\n\n\ngrouped_df = df.groupBy("country")\ncount_df = grouped_df.count()\ncount_df.show()\n\n# Apply custom aggregation using max\nmax_release_df = grouped_df.agg(max(col("date_added")))\nmax_release_df.show()\n'

In [27]:

'''
policy_state_df = (
    df.groupBy("policy_state")
    .agg(
        count("policy_state").alias("NumberOfstate")
        ,max("policy_annual_premium ").alias("max_policy_annual_premium")
        ,min('age').alias("minAge")
        ,max('age').alias("maxAge")
        ))

policy_state_df.show(4)

'''

'\npolicy_state_df = (\n    df.groupBy("policy_state")\n    .agg(\n        count("policy_state").alias("NumberOfstate")\n        ,max("policy_annual_premium ").alias("max_policy_annual_premium")\n        ,min(\'age\').alias("minAge")\n        ,max(\'age\').alias("maxAge")\n        ))\n\npolicy_state_df.show(4)\n\n'

In [28]:
!pip install delta-spark==2.4.0
#!pip install pyspark==3.3.1
!pip install pyspark==3.4.1

 
from delta import configure_spark_with_delta_pip, DeltaTable
from pyspark.sql import SparkSession


#df.write.format("delta").mode("overwrite").saveAsTable("default.insurance_claims")
#SELECT * FROM default.insurance_claims LIMIT 3;
#df = spark.read.format("delta").load("C:\\Users\owner\\Desktop\\cours\\Formation\\Projet github\\Spark\\archive (5)\\insurance_claims.csv")
spark.sql("DROP TABLE IF EXISTS default.insurance_claims")
spark.sql("DROP TABLE IF EXISTS default.insurance_claimsV2")
spark.sql("DROP TABLE IF EXISTS default.insurance_claimsV3")

#The write operation in PySpark does not return a DataFrameit returns None
#df = df.write.format("delta").mode("overwrite").saveAsTable("default.insurance_claimsV3")


# Perform the write operation (do not overwrite the df by doing df = df...)
df.write.format("delta").mode("overwrite").saveAsTable("default.insurance_claimsV3")
results = spark.sql(" SELECT * FROM default.insurance_claimsV3 LIMIT 3")

#ceci fonctionne 
'''
df.write.format("delta").mode("overwrite").save("insurance_claims/spark-warehouse/insurance_claims/")
#insurance_claims/assurance_claims.ipynb
#insurance_claims/spark-warehouse/insurance_claims/

# Register the Delta table manually
results = spark.sql("CREATE TABLE IF NOT EXISTS default.insurance_claims USING DELTA LOCATION 'insurance_claims/spark-warehouse/insurance_claims/'")
'''

results.show()

df.show(5)
'''
    # Sauvegarder en Parquet (trs stable)
df.write.format("parquet").mode("overwrite").saveAsTable("default.insurance_claims")
    
print(" Table Parquet cre avec succs!")
    
    # 4. LIRE ET AFFICHER LES RSULTATS
results = spark.sql("SELECT * FROM default.insurance_claims LIMIT 3")
    
print("=== RSULTATS (Format lisible avec Pandas) ===")
pandas_results = results.toPandas()
results.show()
print(pandas_results)
'''

Requirement already satisfied: delta-spark==2.4.0 in /usr/local/lib/python3.10/dist-packages (2.4.0)
Requirement already satisfied: pyspark<3.5.0,>=3.4.0 in /usr/local/lib/python3.10/dist-packages (from delta-spark==2.4.0) (3.4.1)
Requirement already satisfied: importlib-metadata>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from delta-spark==2.4.0) (8.7.0)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=1.0.0->delta-spark==2.4.0) (3.23.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark<3.5.0,>=3.4.0->delta-spark==2.4.0) (0.10.9.7)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: pyspark==3.4.1 in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.4.1) (0.10.9.7)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+-------------------------------------+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|       incident_type|collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|insured_sex_with_insured_relationship|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+-------------------------------------+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...|Side Collision|     Major Damage|               Police|            SC|     Columbus|   9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|                         MALE husband|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|             ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|                  MALE other-relative|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...|Rear Collision|     Minor Damage|               Police|            NY|     Columbus|7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|                     FEMALE own-child|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+-------------------------------------+

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+-------------------------------------+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|insured_sex_with_insured_relationship|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+-------------------------------------+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...| Side Collision|     Major Damage|               Police|            SC|     Columbus|   9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|                         MALE husband|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|                  MALE other-relative|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|               Police|            NY|     Columbus|7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|                     FEMALE own-child|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Co...|Front Collision|     Major Damage|               Police|            OH|    Arlington| 6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|                     FEMALE unmarried|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|       Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|     3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|                       MALE unmarried|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+-------------------------------------+
only showing top 5 rows

'\n    # Sauvegarder en Parquet (trs stable)\ndf.write.format("parquet").mode("overwrite").saveAsTable("default.insurance_claims")\n    \nprint(" Table Parquet cre avec succs!")\n    \n    # 4. LIRE ET AFFICHER LES RSULTATS\nresults = spark.sql("SELECT * FROM default.insurance_claims LIMIT 3")\n    \nprint("=== RSULTATS (Format lisible avec Pandas) ===")\npandas_results = results.toPandas()\nresults.show()\nprint(pandas_results)\n'

In [29]:
schema1 = StructType([
    StructField("months_as_customer", StringType(), True),
    #StructField("age", StringType(), True),
    StructField("age", IntegerType(), True),
    #StructField("policy_number", StringType(), True),
    StructField("policy_number", IntegerType(), True),
    #StructField("policy_bind_date", StringType(), True),
    StructField("policy_bind_date", DateType(), True),
    StructField("policy_state", StringType(), True),
    StructField("policy_csl", StringType(), True),
    #StructField("policy_deductable", DateType(), True),
    StructField("policy_deductable", StringType(), True),
    StructField("policy_annual_premium", StringType(), True),
    #StructField("umbrella_limit", StringType(), True),
    StructField("umbrella_limit", IntegerType(), True),
    #StructField("insured_zip", StringType(), True),
    StructField("insured_zip", IntegerType(), True),
    StructField("insured_sex", StringType(), True),
    StructField("insured_education_level", StringType(), True),
    StructField("insured_occupation", StringType(), True),
    StructField("insured_hobbies", StringType(), True),
    StructField("insured_relationship", StringType(), True),
    #StructField("capital-gains", StringType(), True),
    StructField("capital-gains", IntegerType(), True),
    #StructField("capital-loss", DateType(), True),
    StructField("capital-loss", StringType(), True),
    #StructField("incident_date", IntegerType(), True),
    #StructField("incident_date", StringType(), True),
    StructField("incident_date", DateType(), True),
    StructField("incident_type", StringType(), True),
    StructField("collision_type", StringType(), True),
    StructField("incident_severity", StringType(), True),
    StructField("authorities_contacted", StringType(), True),
    #StructField("incident_state", DateType(), True),
    StructField("incident_state", StringType(), True),
    #StructField("incident_city", IntegerType(), True),
    StructField("incident_city", StringType(), True),
    StructField("incident_location", StringType(), True),
    #StructField("incident_hour_of_the_day", StringType(), True),
    StructField("incident_hour_of_the_day", IntegerType(), True),
    #StructField("number_of_vehicles_involved", StringType(), True),
    StructField("number_of_vehicles_involved", IntegerType(), True),
    #StructField("property_damage", StringType(), True),
    StructField("property_damage", IntegerType(), True),
    #StructField("bodily_injuries", StringType(), True),
    StructField("bodily_injuries", IntegerType(), True),
    #StructField("witnesses", DateType(), True),
    #StructField("witnesses", StringType(), True),
    StructField("witnesses", IntegerType(), True),
    #StructField("police_report_available", IntegerType(), True),
    StructField("police_report_available", StringType(), True),
    StructField("total_claim_amount", StringType(), True),
    StructField("injury_claim", IntegerType(), True),
    #StructField("injury_claim", StringType(), True),
    StructField("property_claim", IntegerType(), True),
    #StructField("property_claim", StringType(), True),
    #StructField("vehicle_claim", StringType(), True),
    StructField("vehicle_claim", IntegerType(), True),
    StructField("auto_make", StringType(), True),
    StructField("auto_model", StringType(), True),
    #StructField("auto_year", StringType(), True),
    StructField("auto_year", IntegerType(), True),
    StructField("fraud_reported", StringType(), True),
    StructField("_c39", StringType(), True)  
    ])
 
#df_with_correct_types = df.withColumn("age", df["age"].cast("int"))
#df_with_correct_types.write.parquet("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv3/part-00000-7d50c1e2-7304-4db8-96ba-a8428a6fbc8e-c000_int.snappy.parquet")


#df = df.withColumn("age", col("age").cast("int"))
#df.show(5)

# 2. Lire les donnes Parquet avec le schma explicite
#df = spark.read.schema(schema1).parquet("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv3/part-00000-7d50c1e2-7304-4db8-96ba-a8428a6fbc8e-c000.snappy.parquet")

#df.show(5)
#/opt/workspace/data/delta_lake/netflix_titles

In [30]:
get_ipython().run_line_magic('load_ext', 'sparksql_magic')
get_ipython().run_line_magic('config', 'SparkSql.limit=20')

In [31]:
%%sparksql
CREATE OR REPLACE TABLE default.insurance_claims_delta (
 

    months_as_customer STRING,
    age STRING,
    policy_number STRING,
    policy_bind_date STRING, 
    policy_state STRING, 
    policy_csl STRING,
    policy_deductable STRING, 
    policy_annual_premium STRING, 
    umbrella_limit STRING,  
    insured_zip STRING, 
    insured_sex STRING, 
    insured_education_level STRING, 
    insured_occupation STRING, 
    insured_hobbies STRING, 
    insured_relationship STRING,  
    capital_gains STRING, 
    capital_loss STRING, 
    incident_date STRING,
    incident_type STRING, 
    collision_type STRING,
    incident_severity STRING,
    authorities_contacted STRING,
    incident_state STRING,
    incident_city STRING,
    incident_location STRING,
    incident_hour_of_the_day STRING,
    number_of_vehicles_involved STRING,
    property_damage STRING,
    bodily_injuries STRING,
    witnesses STRING,
    police_report_available STRING,
    total_claim_amount STRING,
    injury_claim STRING,
    property_claim STRING,
    vehicle_claim STRING,
    auto_make STRING,
    auto_model STRING,
    auto_year STRING,
    fraud_reported STRING,
    _c39 STRING 

    
) USING DELTA LOCATION 'insurance_claims/spark-warehouse/insurance_claimsv3';

In [32]:
'''
    show_id STRING,
    type STRING,
    title STRING,
    director STRING,
    cast STRING,
    country STRING,
    date_added STRING,
    release_year STRING,
    rating STRING,
    duration STRING,
    listed_in STRING,
    description STRING 

        months_as_customer STRING,
    age STRING,
    age IntegerType,
    policy_number STRING,
    policy_number STRING, 
    policy_bind_date STRING, 
    policy_bind_date STRING,
    policy_state STRING, 
    policy_csl STRING,
    policy_deductable DateType,
    policy_deductable STRING, 
    policy_annual_premium STRING, 
    umbrella_limit STRING,
    umbrella_limit STRING, 
    insured_zip STRING, 
    insured_zip STRING, 
    insured_sex STRING, 
    insured_education_level STRING, 
    insured_occupation STRING, 
    insured_hobbies STRING, 
    insured_relationship STRING, 
    capital-gains STRING, 
    capital-gains STRING, 
    capital-loss STRING,
    capital-loss STRING, 
    incident_date IntegerType,
    incident_date STRING,
    incident_date DateType,
    incident_type STRING, 
    collision_type STRING,
    incident_severity STRING,
    authorities_contacted STRING,
    incident_state DateType,
    incident_state STRING,
    incident_city IntegerType,
    incident_city STRING,
    incident_location STRING,
    incident_hour_of_the_day STRING,
    incident_hour_of_the_day IntegerType,
    number_of_vehicles_involved STRING,
    number_of_vehicles_involved IntegerType,
    property_damage STRING,
    property_damage IntegerType,
    bodily_injuries STRING,
    bodily_injuries IntegerType,
    witnesses DateType,
    witnesses StringType,
    witnesses IntegerType,
    police_report_available IntegerType,
    police_report_available STRING,
    total_claim_amount STRING,
    injury_claim IntegerType,
    injury_claim STRING,
    property_claim  IntegerType,
    property_claim STRING,
    vehicle_claim STRING,
    vehicle_claim IntegerType,
    auto_make STRING,
    auto_model STRING,
    auto_year STRING,
    auto_year IntegerType,
    fraud_reported STRING,
    _c39 STRING 
'''

'\n    show_id STRING,\n    type STRING,\n    title STRING,\n    director STRING,\n    cast STRING,\n    country STRING,\n    date_added STRING,\n    release_year STRING,\n    rating STRING,\n    duration STRING,\n    listed_in STRING,\n    description STRING \n\n        months_as_customer STRING,\n    age STRING,\n    age IntegerType,\n    policy_number STRING,\n    policy_number STRING, \n    policy_bind_date STRING, \n    policy_bind_date STRING,\n    policy_state STRING, \n    policy_csl STRING,\n    policy_deductable DateType,\n    policy_deductable STRING, \n    policy_annual_premium STRING, \n    umbrella_limit STRING,\n    umbrella_limit STRING, \n    insured_zip STRING, \n    insured_zip STRING, \n    insured_sex STRING, \n    insured_education_level STRING, \n    insured_occupation STRING, \n    insured_hobbies STRING, \n    insured_relationship STRING, \n    capital-gains STRING, \n    capital-gains STRING, \n    capital-loss STRING,\n    capital-loss STRING, \n    incident_date IntegerType,\n    incident_date STRING,\n    incident_date DateType,\n    incident_type STRING, \n    collision_type STRING,\n    incident_severity STRING,\n    authorities_contacted STRING,\n    incident_state DateType,\n    incident_state STRING,\n    incident_city IntegerType,\n    incident_city STRING,\n    incident_location STRING,\n    incident_hour_of_the_day STRING,\n    incident_hour_of_the_day IntegerType,\n    number_of_vehicles_involved STRING,\n    number_of_vehicles_involved IntegerType,\n    property_damage STRING,\n    property_damage IntegerType,\n    bodily_injuries STRING,\n    bodily_injuries IntegerType,\n    witnesses DateType,\n    witnesses StringType,\n    witnesses IntegerType,\n    police_report_available IntegerType,\n    police_report_available STRING,\n    total_claim_amount STRING,\n    injury_claim IntegerType,\n    injury_claim STRING,\n    property_claim  IntegerType,\n    property_claim STRING,\n    vehicle_claim STRING,\n    vehicle_claim IntegerType,\n    auto_make STRING,\n    auto_model STRING,\n    auto_year STRING,\n    auto_year IntegerType,\n    fraud_reported STRING,\n    _c39 STRING \n'

In [33]:
df = (spark.read
      .format("csv")
      .option("header", "true")
      .load("../data/insurance_claims.csv"))

In [34]:
df.printSchema()

root
 |-- months_as_customer: string (nullable = true)
 |-- age: string (nullable = true)
 |-- policy_number: string (nullable = true)
 |-- policy_bind_date: string (nullable = true)
 |-- policy_state: string (nullable = true)
 |-- policy_csl: string (nullable = true)
 |-- policy_deductable: string (nullable = true)
 |-- policy_annual_premium: string (nullable = true)
 |-- umbrella_limit: string (nullable = true)
 |-- insured_zip: string (nullable = true)
 |-- insured_sex: string (nullable = true)
 |-- insured_education_level: string (nullable = true)
 |-- insured_occupation: string (nullable = true)
 |-- insured_hobbies: string (nullable = true)
 |-- insured_relationship: string (nullable = true)
 |-- capital-gains: string (nullable = true)
 |-- capital-loss: string (nullable = true)
 |-- incident_date: string (nullable = true)
 |-- incident_type: string (nullable = true)
 |-- collision_type: string (nullable = true)
 |-- incident_severity: string (nullable = true)
 |-- authorities_contacted: string (nullable = true)
 |-- incident_state: string (nullable = true)
 |-- incident_city: string (nullable = true)
 |-- incident_location: string (nullable = true)
 |-- incident_hour_of_the_day: string (nullable = true)
 |-- number_of_vehicles_involved: string (nullable = true)
 |-- property_damage: string (nullable = true)
 |-- bodily_injuries: string (nullable = true)
 |-- witnesses: string (nullable = true)
 |-- police_report_available: string (nullable = true)
 |-- total_claim_amount: string (nullable = true)
 |-- injury_claim: string (nullable = true)
 |-- property_claim: string (nullable = true)
 |-- vehicle_claim: string (nullable = true)
 |-- auto_make: string (nullable = true)
 |-- auto_model: string (nullable = true)
 |-- auto_year: string (nullable = true)
 |-- fraud_reported: string (nullable = true)
 |-- _c39: string (nullable = true)

In [35]:
df.write.format("delta").mode("overwrite").saveAsTable("default.insurance_claimsv4")

In [36]:
%%sparksql 
SELECT * FROM default.insurance_claimsv4 LIMIT 3;

In [37]:
df = spark.read.format("delta").load("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4/")

In [38]:
df.printSchema()

root
 |-- months_as_customer: string (nullable = true)
 |-- age: string (nullable = true)
 |-- policy_number: string (nullable = true)
 |-- policy_bind_date: string (nullable = true)
 |-- policy_state: string (nullable = true)
 |-- policy_csl: string (nullable = true)
 |-- policy_deductable: string (nullable = true)
 |-- policy_annual_premium: string (nullable = true)
 |-- umbrella_limit: string (nullable = true)
 |-- insured_zip: string (nullable = true)
 |-- insured_sex: string (nullable = true)
 |-- insured_education_level: string (nullable = true)
 |-- insured_occupation: string (nullable = true)
 |-- insured_hobbies: string (nullable = true)
 |-- insured_relationship: string (nullable = true)
 |-- capital-gains: string (nullable = true)
 |-- capital-loss: string (nullable = true)
 |-- incident_date: string (nullable = true)
 |-- incident_type: string (nullable = true)
 |-- collision_type: string (nullable = true)
 |-- incident_severity: string (nullable = true)
 |-- authorities_contacted: string (nullable = true)
 |-- incident_state: string (nullable = true)
 |-- incident_city: string (nullable = true)
 |-- incident_location: string (nullable = true)
 |-- incident_hour_of_the_day: string (nullable = true)
 |-- number_of_vehicles_involved: string (nullable = true)
 |-- property_damage: string (nullable = true)
 |-- bodily_injuries: string (nullable = true)
 |-- witnesses: string (nullable = true)
 |-- police_report_available: string (nullable = true)
 |-- total_claim_amount: string (nullable = true)
 |-- injury_claim: string (nullable = true)
 |-- property_claim: string (nullable = true)
 |-- vehicle_claim: string (nullable = true)
 |-- auto_make: string (nullable = true)
 |-- auto_model: string (nullable = true)
 |-- auto_year: string (nullable = true)
 |-- fraud_reported: string (nullable = true)
 |-- _c39: string (nullable = true)

In [39]:
%%sparksql
SELECT * FROM delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4/` LIMIT 3;

In [40]:
%%sparksql
DESCRIBE HISTORY '/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4'

only showing top 20 row(s)

In [41]:
%%sparksql
ALTER TABLE delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4` SET TBLPROPERTIES (
  delta.logRetentionDuration = 'interval 60 days',
  delta.deletedFileRetentionDuration = 'interval 60 days'
);

In [42]:
%load_ext sparksql_magic
%config SparkSql.limit=20

The sparksql_magic extension is already loaded. To reload it, use:
  %reload_ext sparksql_magic

In [43]:
# For PySpark:
deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")

In [44]:
deltaTable.toDF().show(5)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...| Side Collision|     Major Damage|               Police|            SC|     Columbus|   9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|               Police|            NY|     Columbus|7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Co...|Front Collision|     Major Damage|               Police|            OH|    Arlington| 6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|       Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|     3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 5 rows

In [45]:
from pyspark.sql.functions import expr, lit
# Update policy_number to not have nulls
deltaTable.update(
  condition = expr("policy_number IS NULL"),
  set = { "policy_number": lit("") })

In [46]:
%%sparksql
UPDATE delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4` SET policy_state = "" WHERE policy_state IS NULL;

In [47]:
deltaTable.toDF().show(5)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...| Side Collision|     Major Damage|               Police|            SC|     Columbus|   9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|               Police|            NY|     Columbus|7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Co...|Front Collision|     Major Damage|               Police|            OH|    Arlington| 6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|       Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|     3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 5 rows

In [48]:
%%sparksql
DROP TABLE IF EXISTS default.insurance_claimsv3_cdf;

In [49]:
%%sparksql
CREATE OR REPLACE TABLE default.insurance_claimsv3_cdf (
    --ici je cree une table bronze
    months_as_customer STRING,
    age STRING,
    policy_number STRING,
    policy_bind_date STRING, 
    policy_state STRING, 
    policy_csl STRING,
    policy_deductable STRING, 
    policy_annual_premium STRING, 
    umbrella_limit STRING,  
    insured_zip STRING, 
    insured_sex STRING, 
    insured_education_level STRING, 
    insured_occupation STRING, 
    insured_hobbies STRING, 
    insured_relationship STRING,  
    capital_gains STRING, 
    capital_loss STRING, 
    incident_date STRING,
    incident_type STRING, 
    collision_type STRING,
    incident_severity STRING,
    authorities_contacted STRING,
    incident_state STRING,
    incident_city STRING,
    incident_location STRING,
    incident_hour_of_the_day STRING,
    number_of_vehicles_involved STRING,
    property_damage STRING,
    bodily_injuries STRING,
    witnesses STRING,
    police_report_available STRING,
    total_claim_amount STRING,
    injury_claim STRING,
    property_claim STRING,
    vehicle_claim STRING,
    auto_make STRING,
    auto_model STRING,
    auto_year STRING,
    fraud_reported STRING,
    _c39 STRING, 
    missing_data BOOLEAN,
    age_group STRING,
    fraud_reported_bool BOOLEAN,
    age_risk_score FLOAT,
    risque_selon_lanciennete FLOAT,
    risque_total FLOAT,
    risque_selon_la_fraude FLOAT,
    cathegorie_risque STRING
    
) USING DELTA LOCATION 'insurance_claims/insurance_claims/spark-warehouse/insurance_claimsv4' 
TBLPROPERTIES (delta.enableChangeDataFeed = true, medallionLevel = 'bronze',   delta.columnMapping.mode = 'name');

In [1]:
# Read CSV file into a DataFrame
# Initial Load of Bronze Table
df = (spark.read
      .format("csv")
      .option("header", "true")
      .load("../data/insurance_claims.csv"));
#Manually Align Columns (je me suis rendu compte )
df = df.withColumnRenamed("capital-gains", "capital_gains") \
       .withColumnRenamed("capital-loss", "capital_loss")

df.write.format("delta").mode("append").saveAsTable("default.insurance_claimsv3_cdf")
df.show(5)

NameError: name 'spark' is not defined

In [51]:
#%%sparksql
#DROP TABLE IF EXISTS default.insurance_claimsv3_cleansed;
history_df = spark.sql("DESCRIBE HISTORY '/opt/workspace/data/delta_lake/insurance_claimsv3_cleansed'")
latest_version = history_df.head(1)[0]['version']
print(f"Last version: {latest_version}")

Last version: 14

In [53]:
%%sparksql
CREATE OR REPLACE TABLE default.insurance_claimsv3_cleansed (
    ---ici je cree un table silver en utilisant le medallion architecture
    months_as_customer STRING,
    age STRING,
    policy_number STRING,
    policy_bind_date STRING, 
    policy_state STRING, 
    policy_csl STRING,
    policy_deductable STRING, 
    policy_annual_premium STRING, 
    umbrella_limit STRING,  
    insured_zip STRING, 
    insured_sex STRING, 
    insured_education_level STRING, 
    insured_occupation STRING, 
    insured_hobbies STRING, 
    insured_relationship STRING,  
    capital_gains STRING, 
    capital_loss STRING, 
    incident_date STRING,
    incident_type STRING, 
    collision_type STRING,
    incident_severity STRING,
    authorities_contacted STRING,
    incident_state STRING,
    incident_city STRING,
    incident_location STRING,
    incident_hour_of_the_day STRING,
    number_of_vehicles_involved STRING,
    property_damage STRING,
    bodily_injuries STRING,
    witnesses STRING,
    police_report_available STRING,
    total_claim_amount STRING,
    injury_claim STRING,
    property_claim STRING,
    vehicle_claim STRING,
    auto_make STRING,
    auto_model STRING,
    auto_year STRING,
    fraud_reported STRING,
    _c39 STRING 
    
) USING DELTA LOCATION '/opt/workspace/data/delta_lake/insurance_claimsv3_cleansed'
TBLPROPERTIES (delta.enableChangeDataFeed = true, medallionLevel = 'silver'
/*
#, updatedFromTable= 'default.insurance_claimsv3_cdf', updatedFromTableVersion= '29' # ici si on ne veut pas a chaque fois specifier la version
#on remplace 29 par {latest_version} cependant si on veut une version specifique on supprime la table et on recree la table  
#updatedFromTable= 'default.insurance_claimsv3_cdf', updatedFromTableVersion= '{latest_version}'  
*/
, updatedFromTable= 'default.insurance_claimsv3_cdf', updatedFromTableVersion= '69'
);

In [54]:
#get the value of the last Updated Version from the silver table
lastUpdateVersion = int(spark.sql("SHOW TBLPROPERTIES default.insurance_claimsv3_cleansed ('updatedFromTableVersion')").first()["value"])+1
lastUpdateVersion

70

In [55]:
#get the value of the last Updated Version from the silver table
latestVersion = spark.sql("DESCRIBE HISTORY default.insurance_claimsv3_cdf").first()["version"]
latestVersion

83

In [56]:
#Create temp view of chnage to bronze table since last load of silver

In [57]:
#!pip install spark-sql-magic

In [58]:

#%%sparksql
#La fonction table_changes est  utilise pour obtenir les changements dans une table Delta.
query = f"""
CREATE OR REPLACE TEMPORARY VIEW bronzeTable_latest_version as
SELECT * FROM (
    SELECT *, 
        RANK() OVER (
        PARTITION BY (lower(months_as_customer), lower(age), lower(policy_number), policy_bind_date) 
        ORDER BY policy_annual_premium DESC) as prix_de_la_police  
    --FROM table_changes('default.insurance_claimsv3_cdf',{lastUpdateVersion},{latestVersion})
    FROM table_changes('default.insurance_claimsv3_cdf', 1, 8)  -- Corrected version order
    WHERE policy_annual_premium IS NOT NULL AND age IS NOT NULL AND policy_number IS NOT NULL AND  _change_type !='update_preimage'
)
WHERE policy_deductable = 1;
"""

df = spark.sql(query)
df.show()

++
||
++
++

In [59]:
%%sparksql 
MERGE INTO default.insurance_claimsv3_cleansed t 
USING bronzeTable_latest_version s 
ON lower(t.months_as_customer) = lower(s.months_as_customer)
AND lower(t.age) = lower(s.age)
AND lower(t.policy_number) = lower(s.policy_number)
AND t.policy_bind_date = s.policy_bind_date
WHEN MATCHED AND s._change_type='update_postimage' OR s._change_type='update_postimage' THEN UPDATE SET *
WHEN MATCHED AND s._change_type='delete' THEN DELETE
WHEN NOT MATCHED AND s._change_type='insert' THEN INSERT *



---Merge Change Data into Silver
---ceci est incompatible tout simplement parceque jai change le tableau 
---results = spark.sql(" SELECT * FROM default.insurance_claimsv3_cdf LIMIT 3")

In [60]:

%%sparksql
ALTER TABLE default.insurance_claimsv3_cleansed SET TBLPROPERTIES(updatedFromTableVersion = {latestVersion});

In [61]:
%%sparksql
--Update Bronze Table
-- Mise  jour des valeurs dans la table
UPDATE default.insurance_claimsv3_cdf
SET 
    -- Mettre  0 si l'ge est infrieur  16 ou suprieur  100
    age = CASE 
            WHEN age < 16 OR age > 100 THEN 0
            ELSE age
          END,

    -- Mettre  0 si le montant total des rclamations est ngatif ou si le mois d'abonnement est ngatif
    total_claim_amount = CASE
                           WHEN total_claim_amount < 0 OR months_as_customer < 0 THEN 0
                           ELSE total_claim_amount
                         END,

    -- Mettre  0 si le numro de police est NULL
    policy_number = CASE 
                      WHEN policy_number IS NULL THEN 0
                      ELSE policy_number
                    END,

    -- Mettre  0 si la date de l'incident est NULL
    incident_date = CASE
                      WHEN incident_date IS NULL THEN 0
                      ELSE incident_date
                    END
;

In [62]:
results = spark.sql(" SELECT * FROM default.insurance_claimsv3_cdf LIMIT 3") 
results.show()

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital_gains|capital_loss|incident_date|       incident_type|collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|missing_data|  age_group|age_risk_score|risque_selon_lanciennete|risque_total|risque_selon_la_fraude|cathegorie_risque|fraud_reported_bool|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...|Side Collision|     Major Damage|               Police|            SC|     Columbus|   9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|       false| Middle_Age|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|             ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|       false| Middle_Age|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...|Rear Collision|     Minor Damage|               Police|            NY|     Columbus|7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|       false|Young_Adult|           0.6|                     0.6|         0.4|                   0.0|              low|              false|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+

In [63]:
'''
%%sparksql
-- Ajouter la colonne missing_data si elle n'existe pas
-- ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (missing_data BOOLEAN);
'''

"\n%%sparksql\n-- Ajouter la colonne missing_data si elle n'existe pas\n-- ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (missing_data BOOLEAN);\n"

In [64]:
# Nom de la table et colonne  vrifier
table_name = "default.insurance_claimsv3_cdf"
column_name = "missing_data"
new_column_type = "BOOLEAN"

# Vrifier si la colonne existe dj dans la table
#columns = [col.name for col in spark.table(table_name).columns]
columns = [col for col in spark.table(table_name).columns]

# Si la colonne n'existe pas, ajouter la colonne
if column_name not in columns:
    # Ajouter la colonne  la table
    spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
    print(f"La colonne {column_name} a t ajoute  la table.")
else:
    print(f"La colonne {column_name} existe dj.")

La colonne missing_data existe dj.

In [65]:
%%sparksql
-- Mise  jour de la table pour marquer les donnes manquantes (je mets ces deux tirets car c est sparksql
UPDATE default.insurance_claimsv3_cdf  
SET 
    missing_data = CASE 
                     WHEN policy_number IS NULL OR policy_number = '' THEN TRUE
                     WHEN incident_date IS NULL OR incident_date = '' THEN TRUE
                     WHEN total_claim_amount IS NULL OR total_claim_amount = '' THEN TRUE
                     ELSE FALSE
                   END;

In [66]:
"""
%%sparksql
-- Ajouter la colonne age_group si elle n'existe pas
ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (age_group STRING);
"""

"\n%%sparksql\n-- Ajouter la colonne age_group si elle n'existe pas\nALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (age_group STRING);\n"

In [67]:
# Nom de la table et colonne  vrifier
table_name = "default.insurance_claimsv3_cdf"
column_name = "age_group"
new_column_type = "STRING"

# Vrifier si la colonne existe dj dans la table
#columns = [col.name for col in spark.table(table_name).columns]
columns = [col for col in spark.table(table_name).columns]

# Si la colonne n'existe pas, ajouter la colonne
if column_name not in columns:
    # Ajouter la colonne  la table
    spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
    print(f"La colonne {column_name} a t ajoute  la table.")
else:
    print(f"La colonne {column_name} existe dj.")

La colonne age_group existe dj.

In [68]:
# Nom de la table et colonne  vrifier
table_name = "default.insurance_claimsv3_cdf"
column_name = "age_risk_score"
new_column_type = "FLOAT"

#ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

# Vrifier si la colonne existe dj dans la table
#columns = [col.name for col in spark.table(table_name).columns]
columns = [col for col in spark.table(table_name).columns]

# Si la colonne n'existe pas, ajouter la colonne
if column_name not in columns:
    # Ajouter la colonne  la table
    spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
    print(f"La colonne {column_name} a t ajoute  la table.")
else:
    print(f"La colonne {column_name} existe dj.")

La colonne age_risk_score existe dj.

In [69]:
# Nom de la table et colonne  vrifier
table_name = "default.insurance_claimsv3_cdf"
column_name = "risque_selon_lanciennete"  
new_column_type = "FLOAT"

#ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

# Vrifier si la colonne existe dj dans la table
#columns = [col.name for col in spark.table(table_name).columns]
columns = [col for col in spark.table(table_name).columns]

# Si la colonne n'existe pas, ajouter la colonne
if column_name not in columns:
    # Ajouter la colonne  la table
    spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
    print(f"La colonne {column_name} a t ajoute  la table.")
else:
    print(f"La colonne {column_name} existe dj.")

La colonne risque_selon_lanciennete existe dj.

In [70]:
# Nom de la table et colonne  vrifier
table_name = "default.insurance_claimsv3_cdf"
column_name = "risque_total"  
new_column_type = "FLOAT"

#ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

# Vrifier si la colonne existe dj dans la table
#columns = [col.name for col in spark.table(table_name).columns]
columns = [col for col in spark.table(table_name).columns]

# Si la colonne n'existe pas, ajouter la colonne
if column_name not in columns:
    # Ajouter la colonne  la table
    spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
    print(f"La colonne {column_name} a t ajoute  la table.")
else:
    print(f"La colonne {column_name} existe dj.")

La colonne risque_total existe dj.

In [71]:
# Nom de la table et colonne  vrifier
# ici nous allons attribuer un score de risque si l'assur a fraud
table_name = "default.insurance_claimsv3_cdf"
column_name = "risque_selon_la_fraude"
new_column_type = "FLOAT"

#ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

# Vrifier si la colonne existe dj dans la table
#columns = [col.name for col in spark.table(table_name).columns]
columns = [col for col in spark.table(table_name).columns]

# Si la colonne n'existe pas, ajouter la colonne
if column_name not in columns:
    # Ajouter la colonne  la table
    spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
    print(f"La colonne {column_name} a t ajoute  la table.")
else:
    print(f"La colonne {column_name} existe dj.")

La colonne risque_selon_la_fraude existe dj.

In [72]:
#%%sparksql
# 1. Mettre  jour le protocole Delta pour supporter le mappage des colonnes
spark.sql("""
ALTER TABLE default.insurance_claimsv3_cdf 
SET TBLPROPERTIES (
    'delta.columnMapping.mode' = 'name',
    'delta.minReaderVersion' = '3', 
    'delta.minWriterVersion' = '7'
);
""")

# minreader 2 minwriter 5 

# 2. Activer le mappage des colonnes sur la table Delta
spark.sql("""
ALTER TABLE default.insurance_claimsv3_cdf 
SET TBLPROPERTIES ('delta.columnMapping.mode' = 'name');
""")

# 3. Si ncessaire, supprimer la colonne (fraud_reported_bool)
spark.sql("""
ALTER TABLE default.insurance_claimsv3_cdf 
DROP COLUMN IF EXISTS fraud_reported_bool;
""")

# 4. Ajouter la colonne fraud_reported_bool si ncessaire
spark.sql("""
ALTER TABLE default.insurance_claimsv3_cdf 
ADD COLUMNS (fraud_reported_bool BOOLEAN);
""")


'''
-- Supprimer la colonne fraud_reported_bool si elle existe
ALTER TABLE default.insurance_claimsv3_cdf DROP COLUMN IF EXISTS fraud_reported_bool;
'''

'''
Le mappage des colonnes dans Delta Lake est une fonctionnalit importante qui permet de grer les changements dans le schma
d'une table de manire plus flexible
volution du schma sans rupture :
Lorsqu'une colonne est renomme ou rorganise dans un DataFrame, Delta Lake peut tre configur pour mapper automatiquement les
anciennes colonnes aux nouvelles. Cela permet de grer l'volution du schma sans avoir  recharger ou migrer les donnes de manire lourde.

Changement de noms de colonnes :
Quand tu modifies le nom d'une colonne, si tu utilises un mode de mappage comme name, Delta pourra automatiquement faire le lien entre 
l'ancien et le nouveau nom, ce qui vite des erreurs lors de l'interrogation des donnes ou de la lecture de versions anciennes de la table.


'''

"\nLe mappage des colonnes dans Delta Lake est une fonctionnalit importante qui permet de grer les changements dans le schma\nd'une table de manire plus flexible\nvolution du schma sans rupture :\nLorsqu'une colonne est renomme ou rorganise dans un DataFrame, Delta Lake peut tre configur pour mapper automatiquement les\nanciennes colonnes aux nouvelles. Cela permet de grer l'volution du schma sans avoir  recharger ou migrer les donnes de manire lourde.\n\nChangement de noms de colonnes :\nQuand tu modifies le nom d'une colonne, si tu utilises un mode de mappage comme name, Delta pourra automatiquement faire le lien entre \nl'ancien et le nouveau nom, ce qui vite des erreurs lors de l'interrogation des donnes ou de la lecture de versions anciennes de la table.\n\n\n"

In [73]:
# Nom de la table et colonne  vrifier
# ici nous allons attribuer un score de risque si l'assur a fraud
table_name = "default.insurance_claimsv3_cdf"
column_name = "cathegorie_risque"
new_column_type = "STRING"
    
#ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (new_float_column FLOAT);

# Vrifier si la colonne existe dj dans la table
#columns = [col.name for col in spark.table(table_name).columns]
columns = [col for col in spark.table(table_name).columns]

# Si la colonne n'existe pas, ajouter la colonne
if column_name not in columns:
    # Ajouter la colonne  la table
    spark.sql(f"ALTER TABLE {table_name} ADD COLUMNS ({column_name} {new_column_type})")
    print(f"La colonne {column_name} a t ajoute  la table.")
else:
    print(f"La colonne {column_name} existe dj.")

La colonne cathegorie_risque existe dj.

In [74]:
#ici en fait j'utilise python voila le prkoi je fais spark.sql
# vrifier la version du protocole Delta de ma table
spark.sql("""
DESCRIBE DETAIL default.insurance_claimsv3_cdf
""").show(truncate=False)

+------+------------------------------------+--------------------------------------------+-----------+-------------------------------------------------------------------------------------------------------------------------+-----------------------+----------------------+----------------+--------+-----------+---------------------------------------------------------------------------------------------------------------------------------------+----------------+----------------+-------------------------------------------------------------------------------------------+
|format|id                                  |name                                        |description|location                                                                                                                 |createdAt              |lastModified          |partitionColumns|numFiles|sizeInBytes|properties                                                                                                                             |minReaderVersion|minWriterVersion|tableFeatures                                                                              |
+------+------------------------------------+--------------------------------------------+-----------+-------------------------------------------------------------------------------------------------------------------------+-----------------------+----------------------+----------------+--------+-----------+---------------------------------------------------------------------------------------------------------------------------------------+----------------+----------------+-------------------------------------------------------------------------------------------+
|delta |55c36f38-7c30-4a20-9e3d-9d52daa600c7|spark_catalog.default.insurance_claimsv3_cdf|null       |file:/opt/workspace/insurance_claims/spark-warehouse/insurance_claims/insurance_claims/spark-warehouse/insurance_claimsv4|2025-09-27 02:21:28.119|2025-10-02 18:39:08.11|[]              |7       |634412     |{delta.enableChangeDataFeed -> true, medallionLevel -> bronze, delta.columnMapping.mode -> name, delta.columnMapping.maxColumnId -> 54}|3               |7               |[appendOnly, changeDataFeed, checkConstraints, columnMapping, generatedColumns, invariants]|
+------+------------------------------------+--------------------------------------------+-----------+-------------------------------------------------------------------------------------------------------------------------+-----------------------+----------------------+----------------+--------+-----------+---------------------------------------------------------------------------------------------------------------------------------------+----------------+----------------+-------------------------------------------------------------------------------------------+

In [75]:
'''
%%sparksql
-- Ajouter la colonne missing_data si elle n'existe pas
ALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (fraud_reported_bool BOOLEAN);
'''

"\n%%sparksql\n-- Ajouter la colonne missing_data si elle n'existe pas\nALTER TABLE default.insurance_claimsv3_cdf ADD COLUMNS (fraud_reported_bool BOOLEAN);\n"

In [76]:
 
%%sparksql
-- Mise  jour de la table pour marquer les groupes d'ge
UPDATE default.insurance_claimsv3_cdf  
SET 
    age_group = CASE 
                  WHEN age < 25 THEN 'Young'
                  WHEN age < 35 THEN 'Young_Adult'
                  WHEN age < 50 THEN 'Middle_Age'
                  WHEN age < 65 THEN 'Senior'
                  ELSE 'Elder'
                END;

In [77]:

%%sparksql
-- Mise  jour de la table pour marquer les groupes d'ge
UPDATE default.insurance_claimsv3_cdf  
SET 
    fraud_reported_bool = CASE 
                  WHEN fraud_reported = "Y" THEN 'True'
                  ELSE 'False'
                END;

In [78]:
%%sparksql
-- Mise  jour des risques par age ici jai dabord essayer de voir le nombre daccident par groupe et nous avons vu que les jeunes 
-- font moins daccident donc nous allons les favoriser en meme temps afin dattirer la clientelle jeune on aurait pu dire aussi
-- que plus lage augmente  on acquiert plus dexperience  ce qui n est pas  a 100%  vrai on peut aussi dire plus on est vieux plus 
-- on pert certaine faculte. nous allons dans notre cas de figure un peu equilibrer notre jugement plus on est jeune plus on a moins 
-- dexperience et plus on prend de lage plus on pert certaines facultes 
UPDATE default.insurance_claimsv3_cdf  
SET 
    age_risk_score = CASE 
                      WHEN age_group = "Young" THEN 0.3
                      WHEN age_group = "Young_Adult" THEN 0.6
                      WHEN age_group = "Middle_Age" THEN 0.6
                      WHEN age_group = "Senior" THEN 0.3
                      ELSE 0.0
                    END;

In [79]:
%%sparksql
--  Score bas sur l'historique de l'anciennete selon le conducteur
UPDATE default.insurance_claimsv3_cdf  
SET 
    risque_selon_lanciennete = CASE 
                      WHEN months_as_customer > 12  THEN 0.6
                      WHEN months_as_customer < 36  THEN 0.4
                      ELSE 'low'
                    END;

In [80]:
%%sparksql
--    # Score bas sur le fait si le conducteur a fraude ou pas 
UPDATE default.insurance_claimsv3_cdf  
SET 
    risque_selon_la_fraude = CASE 
                      WHEN fraud_reported_bool = "True"  THEN 0.7
                      ELSE 0.0
                    END;

In [81]:
from delta.tables import DeltaTable
from pyspark.sql import functions as F

# Charger la table Delta
delta_table = DeltaTable.forName(spark, "default.insurance_claimsv3_cdf")

# Mettre  jour la colonne 'risque_total'
delta_table.update(
    condition="TRUE",  # Applique la mise  jour  toutes les lignes
    set={
        "risque_total": (
            (F.col("risque_selon_lanciennete").cast("double") +
             F.col("risque_selon_la_fraude").cast("double") +
             F.col("age_risk_score").cast("double")) / 3
        )
    }
)

# Vrifier la mise  jour
df_tableFinale = spark.table("default.insurance_claimsv3_cdf")
df_tableFinale.select("policy_number", "risque_total").show(100)



"""

df_agg = df_agg.withColumn(
    "risque_total",
    (F.col("risque_selon_lanciennete").cast("double") +
     F.col("risque_selon_la_fraude").cast("double") +
     F.col("age_risk_score").cast("double")) / 3
)
df_agg.select("policy_number", "risque_total").show(100)
df_agg = df_agg.withColumn(
    "risque_total",
    (F.col("risque_selon_lanciennete") + F.col("risque_selon_la_fraude") + F.col("age_risk_score")) / 3
)

# Afficher les rsultats
df_agg.select("policy_number", "risque_total").show(100)

"""

+-------------+------------+
|policy_number|risque_total|
+-------------+------------+
|       521585|   0.6333333|
|       342868|   0.6333333|
|       687698|         0.4|
|       227811|   0.6333333|
|       367455|         0.4|
|       104594|   0.6333333|
|       413978|         0.4|
|       429027|         0.4|
|       485665|         0.4|
|       636550|         0.4|
|       543610|         0.4|
|       214618|         0.3|
|       842643|         0.3|
|       626808|         0.4|
|       644081|   0.6333333|
|       892874|  0.53333336|
|       558938|         0.4|
|       275265|         0.4|
|       921202|         0.4|
|       143972|         0.4|
|       183430|         0.3|
|       431876|         0.4|
|       285496|  0.53333336|
|       115399|  0.53333336|
|       736882|         0.4|
|       699044|  0.56666666|
|       863236|         0.4|
|       608513|   0.6333333|
|       914088|         0.4|
|       596785|         0.4|
|       908616|         0.4|
|       666333|   0.6333333|
|       336614|         0.4|
|       584859|         0.4|
|       990493|         0.4|
|       129872|   0.6333333|
|       200152|   0.6333333|
|       933293|         0.4|
|       485664|         0.3|
|       982871|   0.6333333|
|       206213|         0.4|
|       616337|   0.6333333|
|       448961|         0.3|
|       790442|         0.4|
|       108844|         0.4|
|       430029|         0.4|
|       529112|         0.4|
|       939631|   0.6333333|
|       866931|         0.4|
|       582011|         0.4|
|       691189|         0.3|
|       537546|         0.4|
|       394975|         0.4|
|       729634|         0.4|
|       282195|         0.4|
|       420810|         0.4|
|       524836|         0.3|
|       307195|         0.4|
|       623648|  0.33333334|
|       485372|         0.4|
|       598554|   0.6333333|
|       303987|         0.4|
|       343161|         0.4|
|       519312|   0.6333333|
|       132902|   0.6333333|
|       332867|   0.6333333|
|       356590|   0.6333333|
|       346002|         0.3|
|       500533|         0.4|
|       348209|         0.4|
|       486676|   0.6333333|
|       260845|   0.6333333|
|       657045|         0.4|
|       761189|         0.4|
|       175177|         0.4|
|       116700|         0.4|
|       166264|         0.4|
|       527945|         0.4|
|       627540|         0.4|
|       279422|   0.6333333|
|       484200|         0.4|
|       645258|         0.4|
|       694662|         0.4|
|       960680|         0.4|
|       498140|   0.6333333|
|       498875|         0.4|
|       798177|         0.4|
|       614763|         0.4|
|       679370|         0.4|
|       958857|   0.6333333|
|       686816|         0.4|
|       127754|  0.53333336|
|       918629|         0.4|
|       731450|         0.4|
|       307447|         0.4|
|       992145|         0.4|
|       900628|   0.6333333|
|       235220|   0.6333333|
|       740019|         0.4|
|       246882|         0.4|
+-------------+------------+
only showing top 100 rows

'\n\ndf_agg = df_agg.withColumn(\n    "risque_total",\n    (F.col("risque_selon_lanciennete").cast("double") +\n     F.col("risque_selon_la_fraude").cast("double") +\n     F.col("age_risk_score").cast("double")) / 3\n)\ndf_agg.select("policy_number", "risque_total").show(100)\ndf_agg = df_agg.withColumn(\n    "risque_total",\n    (F.col("risque_selon_lanciennete") + F.col("risque_selon_la_fraude") + F.col("age_risk_score")) / 3\n)\n\n# Afficher les rsultats\ndf_agg.select("policy_number", "risque_total").show(100)\n\n'

In [82]:
%%sparksql
--    # Score bas sur le fait si le conducteur a fraude ou pas 
UPDATE default.insurance_claimsv3_cdf  
SET 
    cathegorie_risque = CASE 
                      WHEN risque_total > 0.8  THEN 'high'
                      WHEN risque_total > 0.5  THEN 'medium'
                      ELSE 'low'
                    END;

In [83]:
df_tableFinale.select("policy_number", "risque_total","cathegorie_risque").show(100)

+-------------+------------+-----------------+
|policy_number|risque_total|cathegorie_risque|
+-------------+------------+-----------------+
|       521585|   0.6333333|           medium|
|       342868|   0.6333333|           medium|
|       687698|         0.4|              low|
|       227811|   0.6333333|           medium|
|       367455|         0.4|              low|
|       104594|   0.6333333|           medium|
|       413978|         0.4|              low|
|       429027|         0.4|              low|
|       485665|         0.4|              low|
|       636550|         0.4|              low|
|       543610|         0.4|              low|
|       214618|         0.3|              low|
|       842643|         0.3|              low|
|       626808|         0.4|              low|
|       644081|   0.6333333|           medium|
|       892874|  0.53333336|           medium|
|       558938|         0.4|              low|
|       275265|         0.4|              low|
|       921202|         0.4|              low|
|       143972|         0.4|              low|
|       183430|         0.3|              low|
|       431876|         0.4|              low|
|       285496|  0.53333336|           medium|
|       115399|  0.53333336|           medium|
|       736882|         0.4|              low|
|       699044|  0.56666666|           medium|
|       863236|         0.4|              low|
|       608513|   0.6333333|           medium|
|       914088|         0.4|              low|
|       596785|         0.4|              low|
|       908616|         0.4|              low|
|       666333|   0.6333333|           medium|
|       336614|         0.4|              low|
|       584859|         0.4|              low|
|       990493|         0.4|              low|
|       129872|   0.6333333|           medium|
|       200152|   0.6333333|           medium|
|       933293|         0.4|              low|
|       485664|         0.3|              low|
|       982871|   0.6333333|           medium|
|       206213|         0.4|              low|
|       616337|   0.6333333|           medium|
|       448961|         0.3|              low|
|       790442|         0.4|              low|
|       108844|         0.4|              low|
|       430029|         0.4|              low|
|       529112|         0.4|              low|
|       939631|   0.6333333|           medium|
|       866931|         0.4|              low|
|       582011|         0.4|              low|
|       691189|         0.3|              low|
|       537546|         0.4|              low|
|       394975|         0.4|              low|
|       729634|         0.4|              low|
|       282195|         0.4|              low|
|       420810|         0.4|              low|
|       524836|         0.3|              low|
|       307195|         0.4|              low|
|       623648|  0.33333334|              low|
|       485372|         0.4|              low|
|       598554|   0.6333333|           medium|
|       303987|         0.4|              low|
|       343161|         0.4|              low|
|       519312|   0.6333333|           medium|
|       132902|   0.6333333|           medium|
|       332867|   0.6333333|           medium|
|       356590|   0.6333333|           medium|
|       346002|         0.3|              low|
|       500533|         0.4|              low|
|       348209|         0.4|              low|
|       486676|   0.6333333|           medium|
|       260845|   0.6333333|           medium|
|       657045|         0.4|              low|
|       761189|         0.4|              low|
|       175177|         0.4|              low|
|       116700|         0.4|              low|
|       166264|         0.4|              low|
|       527945|         0.4|              low|
|       627540|         0.4|              low|
|       279422|   0.6333333|           medium|
|       484200|         0.4|              low|
|       645258|         0.4|              low|
|       694662|         0.4|              low|
|       960680|         0.4|              low|
|       498140|   0.6333333|           medium|
|       498875|         0.4|              low|
|       798177|         0.4|              low|
|       614763|         0.4|              low|
|       679370|         0.4|              low|
|       958857|   0.6333333|           medium|
|       686816|         0.4|              low|
|       127754|  0.53333336|           medium|
|       918629|         0.4|              low|
|       731450|         0.4|              low|
|       307447|         0.4|              low|
|       992145|         0.4|              low|
|       900628|   0.6333333|           medium|
|       235220|   0.6333333|           medium|
|       740019|         0.4|              low|
|       246882|         0.4|              low|
+-------------+------------+-----------------+
only showing top 100 rows

In [84]:

results = spark.sql(" SELECT * FROM default.insurance_claimsv3_cdf") 
#results = spark.sql(" SELECT * FROM default.insurance_claimsv3_cdf LIMIT 3") 
results.show(5)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital_gains|capital_loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|missing_data|  age_group|age_risk_score|risque_selon_lanciennete|risque_total|risque_selon_la_fraude|cathegorie_risque|fraud_reported_bool|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...| Side Collision|     Major Damage|               Police|            SC|     Columbus|   9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|       false| Middle_Age|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|       false| Middle_Age|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|               Police|            NY|     Columbus|7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|       false|Young_Adult|           0.6|                     0.6|         0.4|                   0.0|              low|              false|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Co...|Front Collision|     Major Damage|               Police|            OH|    Arlington| 6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|       false| Middle_Age|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|       Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|     3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|       false| Middle_Age|           0.6|                     0.6|         0.4|                   0.0|              low|              false|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+
only showing top 5 rows

In [85]:
#distributions des variables categorielles 
fraud_reported = df_tableFinale.groupBy("fraud_reported").count()

fraud_reported.show(5)

+--------------+-----+
|fraud_reported|count|
+--------------+-----+
|             N| 5271|
|             Y| 1729|
+--------------+-----+

In [86]:
#distributions des variables categorielles 
incident_type = df_tableFinale.groupBy("incident_type").count()

incident_type.show(5)

+--------------------+-----+
|       incident_type|count|
+--------------------+-----+
|Multi-vehicle Col...| 2933|
|          Parked Car|  588|
|Single Vehicle Co...| 2821|
|       Vehicle Theft|  658|
+--------------------+-----+

In [87]:
#distributions des variables categorielles 
results = spark.sql(" SELECT * FROM default.insurance_claimsv3_cdf") 
cathegorie_risque = (df_tableFinale.groupBy("cathegorie_risque").count() if "cathegorie_risque" in results.columns else None)

cathegorie_risque.show(5)

+-----------------+-----+
|cathegorie_risque|count|
+-----------------+-----+
|              low| 5285|
|           medium| 1715|
+-----------------+-----+

In [88]:
#RAPPORT DE PROFILING DES DONNES
 
print(f"Nombre total de lignes: {results.count()}")
print(f"Nombre de colonnes: {len(results.columns)}")

Nombre total de lignes: 7000
Nombre de colonnes: 48

In [89]:
results.select('age_risk_score').describe().show()

+-------+-------------------+
|summary|     age_risk_score|
+-------+-------------------+
|  count|               7000|
|   mean| 0.5541000220179558|
| stddev|0.10800396907103842|
|    min|                0.3|
|    max|                0.6|
+-------+-------------------+

In [90]:
results.select('risque_selon_lanciennete').describe().show()

+-------+------------------------+
|summary|risque_selon_lanciennete|
+-------+------------------------+
|  count|                    7000|
|   mean|       0.595000023394823|
| stddev|    0.031227223379346285|
|    min|                     0.4|
|    max|                     0.6|
+-------+------------------------+

In [91]:
results.select('risque_total').describe().show()

+-------+-------------------+
|summary|       risque_total|
+-------+-------------------+
|  count|               7000|
|   mean| 0.4406666714400053|
| stddev|0.10566737447259573|
|    min|         0.23333333|
|    max|          0.6333333|
+-------+-------------------+

In [92]:
results.select('risque_selon_la_fraude').describe().show()

+-------+----------------------+
|summary|risque_selon_la_fraude|
+-------+----------------------+
|  count|                  7000|
|   mean|   0.17289999705553055|
| stddev|   0.30190827767001105|
|    min|                   0.0|
|    max|                   0.7|
+-------+----------------------+

In [93]:
results.select('fraud_reported_bool').describe().show()

+-------+
|summary|
+-------+
|  count|
|   mean|
| stddev|
|    min|
|    max|
+-------+

In [94]:
#results.select('fraud_reported_bool').describe().show()

from pyspark.sql import functions as F

# Utilisation de countDistinct avec la fonction correcte
unique_policies_count = results.select(F.countDistinct("policy_number").alias("unique_policies"))

# Affichage du rsultat
unique_policies_count.show()

+---------------+
|unique_policies|
+---------------+
|           1000|
+---------------+

In [95]:
# Mtriques de qualit, ici je n ai pas la colonne quality_score 
"""
quality_metrics = results.select(
        count("*").alias("total_records"),
        sum(when(col("quality_score") == 100, 1).otherwise(0)).alias("high_quality_records"),
        sum(when(col("has_missing_critical_data"), 1).otherwise(0)).alias("records_with_missing_data"),
        avg("quality_score").alias("avg_quality_score"),
        countDistinct("policy_number").alias("unique_policies")
    ).collect()[0]
"""

'\nquality_metrics = results.select(\n        count("*").alias("total_records"),\n        sum(when(col("quality_score") == 100, 1).otherwise(0)).alias("high_quality_records"),\n        sum(when(col("has_missing_critical_data"), 1).otherwise(0)).alias("records_with_missing_data"),\n        avg("quality_score").alias("avg_quality_score"),\n        countDistinct("policy_number").alias("unique_policies")\n    ).collect()[0]\n'

In [96]:

from pyspark.sql.functions import to_date, col
# Conversion des dates
results = results.withColumn("policy_bind_date_parsed", 
                        to_date(col("policy_bind_date"), "yyyy-MM-dd")) \
            .withColumn("incident_date_parsed", 
                        to_date(col("incident_date"), "yyyy-MM-dd"))

In [97]:

from pyspark.sql.functions import datediff
# Cration de variables drives
results = results.withColumn("days_policy_to_incident", 
                        datediff(col("incident_date_parsed"), 
                            col("policy_bind_date_parsed"))) \
                .withColumn("claim_to_premium_ratio",
                            col("total_claim_amount") / col("policy_annual_premium"))

In [98]:

from pyspark.sql.functions import upper, trim, when, lit
# Standardisation des catgories
results = results.withColumn("insured_sex_clean", 
                        upper(trim(col("insured_sex")))) \
                .withColumn("fraud_reported_bool", 
                         when(upper(col("fraud_reported")) == "Y", lit(True))
                            .otherwise(lit(False)))

In [99]:

# Window specifications
state_window = Window.partitionBy("policy_state")
occupation_window = Window.partitionBy("insured_occupation")
customer_window = Window.partitionBy("insured_zip").orderBy("incident_date_parsed")
group_age_window = Window.partitionBy("age_group")

In [100]:

# Agrgations par tat
df_agg = results.withColumn("avg_claim_amount_by_state",
                    avg("total_claim_amount").over(state_window)) \
            .withColumn("fraud_rate_by_state",
                    avg(col("fraud_reported_bool").cast("int")).over(state_window))

In [101]:

# Agrgations par profession
#df_agg = df_agg.withColumn("avg_premium_by_occupation",
df_agg = results.withColumn("avg_premium_by_occupation",
                    avg("policy_annual_premium").over(occupation_window)) \
                .withColumn("claim_count_by_occupation",
                    count("*").over(occupation_window))

In [102]:

from pyspark.sql.functions import sum, col, row_number
df_agg = df_agg.withColumn("total_claim_amount", col("total_claim_amount").cast("float"))
# Tendances temporelles par zone
df_agg = df_agg.withColumn("running_total_claims_area",
                              sum("total_claim_amount").over(customer_window)) \
                   .withColumn("incident_rank_in_area",
                              row_number().over(customer_window))

In [103]:

results = spark.sql(" SELECT * FROM default.insurance_claimsv3_cdf") 
#results = spark.sql(" SELECT * FROM default.insurance_claimsv3_cdf LIMIT 3") 
results.show(5)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital_gains|capital_loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|missing_data|  age_group|age_risk_score|risque_selon_lanciennete|risque_total|risque_selon_la_fraude|cathegorie_risque|fraud_reported_bool|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...| Side Collision|     Major Damage|               Police|            SC|     Columbus|   9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|       false| Middle_Age|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|       false| Middle_Age|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|               Police|            NY|     Columbus|7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|       false|Young_Adult|           0.6|                     0.6|         0.4|                   0.0|              low|              false|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Co...|Front Collision|     Major Damage|               Police|            OH|    Arlington| 6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|       false| Middle_Age|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|       Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|     3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|       false| Middle_Age|           0.6|                     0.6|         0.4|                   0.0|              low|              false|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+
only showing top 5 rows

In [104]:

# Fraud Agrgations par profession
df_agg = df_agg.withColumn("fraud_rate_by_profession",
                avg(col("fraud_reported_bool").cast("int")).over(occupation_window))
df_agg.show()

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+-----------------------+--------------------+-----------------------+----------------------+-----------------+-------------------------+-------------------------+-------------------------+---------------------+------------------------+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital_gains|capital_loss|incident_date|       incident_type|collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|missing_data|  age_group|age_risk_score|risque_selon_lanciennete|risque_total|risque_selon_la_fraude|cathegorie_risque|fraud_reported_bool|policy_bind_date_parsed|incident_date_parsed|days_policy_to_incident|claim_to_premium_ratio|insured_sex_clean|avg_premium_by_occupation|claim_count_by_occupation|running_total_claims_area|incident_rank_in_area|fraud_rate_by_profession|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+--------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+------------+-----------+--------------+------------------------+------------+----------------------+-----------------+-------------------+-----------------------+--------------------+-----------------------+----------------------+-----------------+-------------------------+-------------------------+-------------------------+---------------------+------------------------+
|               151| 36|       485372|      2005-02-26|          OH|   250/500|             2000|               870.63|             0|     431725|     FEMALE|                     MD|      adm-clerical|       kayaking|           own-child|        94800|      -58500|   2015-01-06|Multi-vehicle Col...|Side Collision|     Minor Damage|               Police|            VA|    Hillsdale|      2299 1st St|                      12|                          3|             NO|              1|        1|                     NO|           62920.0|       11440|          5720|        45760|     Ford|    Escape|     2000|             N|null|       false| Middle_Age|           0.6|                     0.6|         0.4|                   0.0|              low|              false|             2005-02-26|          2015-01-06|                   3601|     72.26950598991534|           FEMALE|       1231.0364615384624|                      455|                 440440.0|                    1|     0.16923076923076924|
|               151| 36|       485372|      2005-02-26|          OH|   250/500|             2000|               870.63|             0|     431725|     FEMALE|                     MD|      adm-clerical|       kayaking|           own-child|        94800|      -58500|   2015-01-06|Multi-vehicle Col...|Side Collision|     Minor Damage|               Police|            VA|    Hillsdale|      2299 1st St|                      12|                          3|             NO|              1|        1|                     NO|           62920.0|       11440|          5720|        45760|     Ford|    Escape|     2000|             N|null|       false| Middle_Age|           0.6|                     0.6|         0.4|                   0.0|              low|              false|             2005-02-26|          2015-01-06|                   3601|     72.26950598991534|           FEMALE|       1231.0364615384624|                      455|                 440440.0|                    2|     0.16923076923076924|
|               151| 36|       485372|      2005-02-26|          OH|   250/500|             2000|               870.63|             0|     431725|     FEMALE|                     MD|      adm-clerical|       kayaking|           own-child|        94800|      -58500|   2015-01-06|Multi-vehicle Col...|Side Collision|     Minor Damage|               Police|            VA|    Hillsdale|      2299 1st St|                      12|                          3|             NO|              1|        1|                     NO|           62920.0|       11440|          5720|        45760|     Ford|    Escape|     2000|             N|null|       false| Middle_Age|           0.6|                     0.6|         0.4|                   0.0|              low|              false|             2005-02-26|          2015-01-06|                   3601|     72.26950598991534|           FEMALE|       1231.0364615384624|                      455|                 440440.0|                    3|     0.16923076923076924|
|               151| 36|       485372|      2005-02-26|          OH|   250/500|             2000|               870.63|             0|     431725|     FEMALE|                     MD|      adm-clerical|       kayaking|           own-child|        94800|      -58500|   2015-01-06|Multi-vehicle Col...|Side Collision|     Minor Damage|               Police|            VA|    Hillsdale|      2299 1st St|                      12|                          3|             NO|              1|        1|                     NO|           62920.0|       11440|          5720|        45760|     Ford|    Escape|     2000|             N|null|       false| Middle_Age|           0.6|                     0.6|         0.4|                   0.0|              low|              false|             2005-02-26|          2015-01-06|                   3601|     72.26950598991534|           FEMALE|       1231.0364615384624|                      455|                 440440.0|                    4|     0.16923076923076924|
|               151| 36|       485372|      2005-02-26|          OH|   250/500|             2000|               870.63|             0|     431725|     FEMALE|                     MD|      adm-clerical|       kayaking|           own-child|        94800|      -58500|   2015-01-06|Multi-vehicle Col...|Side Collision|     Minor Damage|               Police|            VA|    Hillsdale|      2299 1st St|                      12|                          3|             NO|              1|        1|                     NO|           62920.0|       11440|          5720|        45760|     Ford|    Escape|     2000|             N|null|       false| Middle_Age|           0.6|                     0.6|         0.4|                   0.0|              low|              false|             2005-02-26|          2015-01-06|                   3601|     72.26950598991534|           FEMALE|       1231.0364615384624|                      455|                 440440.0|                    5|     0.16923076923076924|
|               151| 36|       485372|      2005-02-26|          OH|   250/500|             2000|               870.63|             0|     431725|     FEMALE|                     MD|      adm-clerical|       kayaking|           own-child|        94800|      -58500|   2015-01-06|Multi-vehicle Col...|Side Collision|     Minor Damage|               Police|            VA|    Hillsdale|      2299 1st St|                      12|                          3|             NO|              1|        1|                     NO|           62920.0|       11440|          5720|        45760|     Ford|    Escape|     2000|             N|null|       false| Middle_Age|           0.6|                     0.6|         0.4|                   0.0|              low|              false|             2005-02-26|          2015-01-06|                   3601|     72.26950598991534|           FEMALE|       1231.0364615384624|                      455|                 440440.0|                    6|     0.16923076923076924|
|               151| 36|       485372|      2005-02-26|          OH|   250/500|             2000|               870.63|             0|     431725|     FEMALE|                     MD|      adm-clerical|       kayaking|           own-child|        94800|      -58500|   2015-01-06|Multi-vehicle Col...|Side Collision|     Minor Damage|               Police|            VA|    Hillsdale|      2299 1st St|                      12|                          3|             NO|              1|        1|                     NO|           62920.0|       11440|          5720|        45760|     Ford|    Escape|     2000|             N|null|       false| Middle_Age|           0.6|                     0.6|         0.4|                   0.0|              low|              false|             2005-02-26|          2015-01-06|                   3601|     72.26950598991534|           FEMALE|       1231.0364615384624|                      455|                 440440.0|                    7|     0.16923076923076924|
|               162| 31|       386690|      2006-02-21|          IN|   100/300|             1000|              1050.24|             0|     456789|     FEMALE|                Masters|      adm-clerical|          chess|                wife|        30700|           0|   2015-02-26|          Parked Car|             ?|     Minor Damage|                 None|            NC|    Arlington|   5480 3rd Ridge|                       7|                          1|              ?|              0|        0|                     NO|            3600.0|         360|           720|         2520|      BMW|        X5|     2013|             Y|null|       false|Young_Adult|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|             2006-02-21|          2015-02-26|                   3292|    3.4277879341864717|           FEMALE|       1231.0364615384624|                      455|                  25200.0|                    1|     0.16923076923076924|
|               162| 31|       386690|      2006-02-21|          IN|   100/300|             1000|              1050.24|             0|     456789|     FEMALE|                Masters|      adm-clerical|          chess|                wife|        30700|           0|   2015-02-26|          Parked Car|             ?|     Minor Damage|                 None|            NC|    Arlington|   5480 3rd Ridge|                       7|                          1|              ?|              0|        0|                     NO|            3600.0|         360|           720|         2520|      BMW|        X5|     2013|             Y|null|       false|Young_Adult|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|             2006-02-21|          2015-02-26|                   3292|    3.4277879341864717|           FEMALE|       1231.0364615384624|                      455|                  25200.0|                    2|     0.16923076923076924|
|               162| 31|       386690|      2006-02-21|          IN|   100/300|             1000|              1050.24|             0|     456789|     FEMALE|                Masters|      adm-clerical|          chess|                wife|        30700|           0|   2015-02-26|          Parked Car|             ?|     Minor Damage|                 None|            NC|    Arlington|   5480 3rd Ridge|                       7|                          1|              ?|              0|        0|                     NO|            3600.0|         360|           720|         2520|      BMW|        X5|     2013|             Y|null|       false|Young_Adult|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|             2006-02-21|          2015-02-26|                   3292|    3.4277879341864717|           FEMALE|       1231.0364615384624|                      455|                  25200.0|                    3|     0.16923076923076924|
|               162| 31|       386690|      2006-02-21|          IN|   100/300|             1000|              1050.24|             0|     456789|     FEMALE|                Masters|      adm-clerical|          chess|                wife|        30700|           0|   2015-02-26|          Parked Car|             ?|     Minor Damage|                 None|            NC|    Arlington|   5480 3rd Ridge|                       7|                          1|              ?|              0|        0|                     NO|            3600.0|         360|           720|         2520|      BMW|        X5|     2013|             Y|null|       false|Young_Adult|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|             2006-02-21|          2015-02-26|                   3292|    3.4277879341864717|           FEMALE|       1231.0364615384624|                      455|                  25200.0|                    4|     0.16923076923076924|
|               162| 31|       386690|      2006-02-21|          IN|   100/300|             1000|              1050.24|             0|     456789|     FEMALE|                Masters|      adm-clerical|          chess|                wife|        30700|           0|   2015-02-26|          Parked Car|             ?|     Minor Damage|                 None|            NC|    Arlington|   5480 3rd Ridge|                       7|                          1|              ?|              0|        0|                     NO|            3600.0|         360|           720|         2520|      BMW|        X5|     2013|             Y|null|       false|Young_Adult|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|             2006-02-21|          2015-02-26|                   3292|    3.4277879341864717|           FEMALE|       1231.0364615384624|                      455|                  25200.0|                    5|     0.16923076923076924|
|               162| 31|       386690|      2006-02-21|          IN|   100/300|             1000|              1050.24|             0|     456789|     FEMALE|                Masters|      adm-clerical|          chess|                wife|        30700|           0|   2015-02-26|          Parked Car|             ?|     Minor Damage|                 None|            NC|    Arlington|   5480 3rd Ridge|                       7|                          1|              ?|              0|        0|                     NO|            3600.0|         360|           720|         2520|      BMW|        X5|     2013|             Y|null|       false|Young_Adult|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|             2006-02-21|          2015-02-26|                   3292|    3.4277879341864717|           FEMALE|       1231.0364615384624|                      455|                  25200.0|                    6|     0.16923076923076924|
|               162| 31|       386690|      2006-02-21|          IN|   100/300|             1000|              1050.24|             0|     456789|     FEMALE|                Masters|      adm-clerical|          chess|                wife|        30700|           0|   2015-02-26|          Parked Car|             ?|     Minor Damage|                 None|            NC|    Arlington|   5480 3rd Ridge|                       7|                          1|              ?|              0|        0|                     NO|            3600.0|         360|           720|         2520|      BMW|        X5|     2013|             Y|null|       false|Young_Adult|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|             2006-02-21|          2015-02-26|                   3292|    3.4277879341864717|           FEMALE|       1231.0364615384624|                      455|                  25200.0|                    7|     0.16923076923076924|
|               266| 42|       929306|      2003-03-06|          IN|   100/300|              500|              1093.83|       4000000|     468454|       MALE|              Associate|      adm-clerical|    board-games|      other-relative|            0|      -49600|   2015-02-21|Multi-vehicle Col...|Side Collision|     Major Damage|            Ambulance|            WV|  Springfield| 4937 Flute Drive|                      18|                          3|              ?|              1|        1|                     NO|           53280.0|        4440|          8880|        39960|   Suburu|   Impreza|     2015|             Y|null|       false| Middle_Age|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|             2003-03-06|          2015-02-21|                   4370|     48.70958009928417|             MALE|       1231.0364615384624|                      455|                 372960.0|                    1|     0.16923076923076924|
|               266| 42|       929306|      2003-03-06|          IN|   100/300|              500|              1093.83|       4000000|     468454|       MALE|              Associate|      adm-clerical|    board-games|      other-relative|            0|      -49600|   2015-02-21|Multi-vehicle Col...|Side Collision|     Major Damage|            Ambulance|            WV|  Springfield| 4937 Flute Drive|                      18|                          3|              ?|              1|        1|                     NO|           53280.0|        4440|          8880|        39960|   Suburu|   Impreza|     2015|             Y|null|       false| Middle_Age|           0.6|                     0.6|   0.6333333|                   0.7|           medium|               true|             2003-03-06|          2015-02-21|                   4370|     48.70958009928417|             MALE|       1231.0364615384624|                      455|                 372960.0|                    2|     0.16923076923076924|

In [105]:
# Agrgations par profession
#df_agg = df_agg.withColumn("avg_premium_by_occupation",
from pyspark.sql import functions as F
# Agrgation par groupe d'ge sans spcifier un champ, juste pour compter les lignes
df_agg = df_agg.withColumn(
    "accident_par_groupe_dage",
    F.count("*").over(group_age_window)
)

df_agg.select(
    "age_group", 
    "accident_par_groupe_dage"
).distinct().show()


"""
from pyspark.sql import functions as F

# Agrgation par groupe d'ge sans spcifier un champ, juste pour compter les lignes
df_agg = df_agg.withColumn(
    "accident_par_groupe_dage",
    F.count("*").over(group_age_window)
)

df_agg.select(
    "age_group", 
    "accident_par_groupe_dage"
).distinct().show()
"""
#----
"""
df_agg = df_agg.withColumn("accident_par_groupe_dage",
                count("policy_number").over(group_age_window))
 
#df_agg.columns
df_agg.select(
    "accident_par_groupe_dage",
    "age_group"
).show(100)

"""

+-----------+------------------------+
|  age_group|accident_par_groupe_dage|
+-----------+------------------------+
|      Young|                     182|
|     Senior|                     889|
|Young_Adult|                    2338|
| Middle_Age|                    3591|
+-----------+------------------------+

'\ndf_agg = df_agg.withColumn("accident_par_groupe_dage",\n                count("policy_number").over(group_age_window))\n \n#df_agg.columns\ndf_agg.select(\n    "accident_par_groupe_dage",\n    "age_group"\n).show(100)\n\n'

In [106]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

# Dfinir la fentre (partitionne par age_group)
group_age_window1 = Window.partitionBy("age_group").orderBy("age_group")

# Appliquer le comptage des accidents par groupe d'ge
df_agg = df_agg.withColumn(
    "accident_par_groupe_dage",
    F.count("policy_number").over(group_age_window1)
).orderBy("age")

# Appliquer row_number() pour ne garder qu'une ligne par groupe d'ge
df_agg = df_agg.withColumn("row_num", F.row_number().over(group_age_window1))

# Filtrer pour ne garder que la premire ligne de chaque groupe d'ge
df_agg_unique = df_agg.filter(df_agg.row_num == 1)

# Afficher le rsultat
df_agg_unique.select(
    "accident_par_groupe_dage",
    "age_group"
).show(20)

+------------------------+-----------+
|accident_par_groupe_dage|  age_group|
+------------------------+-----------+
|                     182|      Young|
|                     889|     Senior|
|                    2338|Young_Adult|
|                    3591| Middle_Age|
+------------------------+-----------+

In [108]:
#%%sparksql

#For PySpark:
deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")  

# Convertir la DeltaTable en DataFrame car sinon on ne pourra pas utiliser la fonction select
df = deltaTable.toDF()  # Ici, on convertit la DeltaTable en DataFrame

'''
df = deltaTable.select(
    col('value.age').alias('age'),
    col('incident_state.name').alias('incident_state'))
'''
 
df_moyenne_age = (df.select('age', 'incident_state').groupBy('incident_state').agg(avg('age').alias('avg_age')).orderBy('avg_age'))

'''
# Agrger par incident_state et calculer la moyenne de l'ge
df_moyenne_age = (df.select('age', 'incident_state')
                  .groupBy('incident_state')
                  .agg(F.avg('age').alias('avg_age'))
                  .orderBy('avg_age', ascending=False))  # Trier par avg_age dcroissant
'''

# Register the DeltaTable as a temporary view (on va enlever ceci car deltaTable do not have attribut createOrReplaceTempView car ce nest pas sql
#deltaTable.createOrReplaceTempView("delta_view")


# Show the result
df_moyenne_age.show()

+--------------+------------------+
|incident_state|           avg_age|
+--------------+------------------+
|            PA|              36.6|
|            OH| 38.21739130434783|
|            SC|38.568548387096776|
|            VA|              38.8|
|            NY| 39.12595419847328|
|            NC|39.154545454545456|
|            WV| 39.53917050691244|
+--------------+------------------+

In [107]:

window_spec = Window.partitionBy("insured_sex").orderBy("age")
result = df_agg.withColumn("row_number", row_number().over(window_spec))
result.select(
               "age"
               ,"insured_sex"
               ,"row_number"
    ).show()

+---+-----------+----------+
|age|insured_sex|row_number|
+---+-----------+----------+
| 21|       MALE|         1|
| 21|       MALE|         2|
| 21|       MALE|         3|
| 21|       MALE|         4|
| 21|       MALE|         5|
| 21|       MALE|         6|
| 21|       MALE|         7|
| 21|       MALE|         8|
| 21|       MALE|         9|
| 21|       MALE|        10|
| 21|       MALE|        11|
| 21|       MALE|        12|
| 21|       MALE|        13|
| 21|       MALE|        14|
| 21|       MALE|        15|
| 21|       MALE|        16|
| 21|       MALE|        17|
| 21|       MALE|        18|
| 21|       MALE|        19|
| 21|       MALE|        20|
+---+-----------+----------+
only showing top 20 rows

In [109]:
#%%sparksql

#For PySpark:
#deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")  

# Convertir la DeltaTable en DataFrame car sinon on ne pourra pas utiliser la fonction select
#df = deltaTable.toDF()  # Ici, on convertit la DeltaTable en DataFrame

# policy_state
df_policy_state = (df.select('policy_state').groupBy('policy_state').agg(count('policy_state').alias('count_policy_state')).orderBy('count_policy_state'))
df_policy_state.show()
# IN INDIANA, IL ILINOIS, OH OHIO

+------------+------------------+
|policy_state|count_policy_state|
+------------+------------------+
|          IN|               310|
|          IL|               338|
|          OH|               352|
+------------+------------------+

In [110]:
#%%sparksql

#For PySpark:
#deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")  

# Convertir la DeltaTable en DataFrame car sinon on ne pourra pas utiliser la fonction select
#df = deltaTable.toDF()  # Ici, on convertit la DeltaTable en DataFrame

# policy_state
df_policy_state = (df.select('policy_state').groupBy('policy_state').agg(count('policy_state').alias('count_policy_state')).orderBy('count_policy_state'))
df_policy_state.show()
# IN INDIANA, IL ILINOIS, OH OHIO

+------------+------------------+
|policy_state|count_policy_state|
+------------+------------------+
|          IN|               310|
|          IL|               338|
|          OH|               352|
+------------+------------------+

In [111]:
 # Define lookup table
lookup = {"IN": "INDIANA", "IL": "ILINOIS", "OH": "OHIO"}

# Create broadcast variable
broadcast_lookup = spark.sparkContext.broadcast(lookup)

In [112]:
# Import necessary functions from PySpark
!pip install pyarrow
from pyspark.sql.functions import rand, when, pandas_udf, PandasUDFType
from pyspark.sql.types import StringType
@pandas_udf('string', PandasUDFType.SCALAR)
def state_convert(s):
    return s.map(broadcast_lookup.value)

Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (21.0.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/functions.py:399: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(

In [113]:
df = df.withColumn("state_name", state_convert(df.policy_state)) 
df_pandas = df.toPandas()

# Afficher le DataFrame sous forme de tableau
print(df_pandas)

    months_as_customer age policy_number policy_bind_date policy_state  \
0                  328  48        521585       2014-10-17           OH
1                  228  42        342868       2006-06-27           IN
2                  134  29        687698       2000-09-06           OH
3                  256  41        227811       1990-05-25           IL
4                  228  44        367455       2014-06-06           IL
..                 ...  ..           ...              ...          ...
995                  3  38        941851       1991-07-16           OH
996                285  41        186934       2014-01-05           IL
997                130  34        918516       2003-02-17           OH
998                458  62        533940       2011-11-18           IL
999                456  60        556080       1996-11-11           OH

    policy_csl policy_deductable policy_annual_premium umbrella_limit  \
0      250/500              1000               1406.91              0
1      250/500              2000               1197.22        5000000
2      100/300              2000               1413.14        5000000
3      250/500              2000               1415.74        6000000
4     500/1000              1000               1583.91        6000000
..         ...               ...                   ...            ...
995   500/1000              1000                1310.8              0
996    100/300              1000               1436.79              0
997    250/500               500               1383.49        3000000
998   500/1000              2000               1356.92        5000000
999    250/500              1000                766.19              0

    insured_zip  ... total_claim_amount injury_claim property_claim  \
0        466132  ...              71610         6510          13020
1        468176  ...               5070          780            780
2        430632  ...              34650         7700           3850
3        608117  ...              63400         6340           6340
4        610706  ...               6500         1300            650
..          ...  ...                ...          ...            ...
995      431289  ...              87200        17440           8720
996      608177  ...             108480        18080          18080
997      442797  ...              67500         7500           7500
998      441714  ...              46980         5220           5220
999      612260  ...               5060          460            920

    vehicle_claim   auto_make auto_model auto_year fraud_reported  _c39  \
0           52080        Saab        92x      2004              Y  None
1            3510    Mercedes       E400      2007              Y  None
2           23100       Dodge        RAM      2007              N  None
3           50720   Chevrolet      Tahoe      2014              Y  None
4            4550      Accura        RSX      2009              N  None
..            ...         ...        ...       ...            ...   ...
995         61040       Honda     Accord      2006              N  None
996         72320  Volkswagen     Passat      2015              N  None
997         52500      Suburu    Impreza      1996              N  None
998         36540        Audi         A5      1998              N  None
999          3680    Mercedes       E400      2007              N  None

    state_name
0         OHIO
1      INDIANA
2         OHIO
3      ILINOIS
4      ILINOIS
..         ...
995       OHIO
996    ILINOIS
997       OHIO
998    ILINOIS
999       OHIO

[1000 rows x 41 columns]

In [114]:
 """
 Data skew refers to an imbalance in the distribution of data in a dataset, particularly in the context of distributed 
 computing and big data processing frameworks (like Apache Spark or Hadoop). It occurs when data is unevenly distributed 
 across nodes or partitions, leading to some nodes being overloaded with too much data while others have too little.
 c'est ce qu'on a fait avec repartition by colonne pour eviter le data skew (example 6.4) 
 """

"\nData skew refers to an imbalance in the distribution of data in a dataset, particularly in the context of distributed \ncomputing and big data processing frameworks (like Apache Spark or Hadoop). It occurs when data is unevenly distributed \nacross nodes or partitions, leading to some nodes being overloaded with too much data while others have too little.\nc'est ce qu'on a fait avec repartition by colonne pour eviter le data skew (example 6.4) \n"

In [115]:
"""
# Cache the DataFrame using cache() method: ici le but est de sauvegarder notre dataframe en cache car on veut gagner en temps 
# je peux essayer de le faire avant de faire les df_agg  6.5
df_pandas.cache()
# Check the storage level of the cached DataFrame
print(df_pandas.storageLevel)

measure_time(df_pandas)
df_pandas.persist(StorageLevel.MEMORY_AND_DISK_DESER)
"""

'\n# Cache the DataFrame using cache() method: ici le but est de sauvegarder notre dataframe en cache car on veut gagner en temps \n# je peux essayer de le faire avant de faire les df_agg  6.5\ndf_pandas.cache()\n# Check the storage level of the cached DataFrame\nprint(df_pandas.storageLevel)\n\nmeasure_time(df_pandas)\ndf_pandas.persist(StorageLevel.MEMORY_AND_DISK_DESER)\n'

In [116]:
"""
# Persist the DataFrame using persist() method with a different storage level
df_pandas.persist(StorageLevel.MEMORY_AND_DISK_DESER)
# Check the storage level of the persisted DataFrame
print(df_pandas.storageLevel)
"""

'\n# Persist the DataFrame using persist() method with a different storage level\ndf_pandas.persist(StorageLevel.MEMORY_AND_DISK_DESER)\n# Check the storage level of the persisted DataFrame\nprint(df_pandas.storageLevel)\n'

In [117]:
"""
results_df = large_df.groupBy("ProductId").agg({"Id": "count"}) 
measure_time(results_df)
# Show the result
results_df.show(5)
"""

'\nresults_df = large_df.groupBy("ProductId").agg({"Id": "count"}) \nmeasure_time(results_df)\n# Show the result\nresults_df.show(5)\n'

In [118]:
"""
# Unpersist the DataFrame using unpersist() method
large_df.unpersist()
# Check the storage level of the unpersisted DataFrame
print(large_df.storageLevel)
"""

'\n# Unpersist the DataFrame using unpersist() method\nlarge_df.unpersist()\n# Check the storage level of the unpersisted DataFrame\nprint(large_df.storageLevel)\n'

In [129]:
# nous voulons savoir les marques les plus utilises: 
df_auto_les_plus_utilisees = (df.select('auto_make').groupBy('auto_make').agg(count('auto_make').alias('auto_make_count')))
df_auto_les_plus_utilisees.show()

+----------+---------------+
| auto_make|auto_make_count|
+----------+---------------+
|     Dodge|             80|
|    Suburu|             80|
|       BMW|             72|
|      Jeep|             67|
|     Honda|             55|
|Volkswagen|             68|
| Chevrolet|             76|
|      Audi|             69|
|      Ford|             72|
|    Accura|             68|
|    Nissan|             78|
|    Toyota|             70|
|      Saab|             80|
|  Mercedes|             65|
+----------+---------------+

In [130]:
 result.printSchema()

root
 |-- months_as_customer: string (nullable = true)
 |-- age: string (nullable = true)
 |-- policy_number: string (nullable = true)
 |-- policy_bind_date: string (nullable = true)
 |-- policy_state: string (nullable = true)
 |-- policy_csl: string (nullable = true)
 |-- policy_deductable: string (nullable = true)
 |-- policy_annual_premium: string (nullable = true)
 |-- umbrella_limit: string (nullable = true)
 |-- insured_zip: string (nullable = true)
 |-- insured_sex: string (nullable = true)
 |-- insured_education_level: string (nullable = true)
 |-- insured_occupation: string (nullable = true)
 |-- insured_hobbies: string (nullable = true)
 |-- insured_relationship: string (nullable = true)
 |-- capital_gains: string (nullable = true)
 |-- capital_loss: string (nullable = true)
 |-- incident_date: string (nullable = true)
 |-- incident_type: string (nullable = true)
 |-- collision_type: string (nullable = true)
 |-- incident_severity: string (nullable = true)
 |-- authorities_contacted: string (nullable = true)
 |-- incident_state: string (nullable = true)
 |-- incident_city: string (nullable = true)
 |-- incident_location: string (nullable = true)
 |-- incident_hour_of_the_day: string (nullable = true)
 |-- number_of_vehicles_involved: string (nullable = true)
 |-- property_damage: string (nullable = true)
 |-- bodily_injuries: string (nullable = true)
 |-- witnesses: string (nullable = true)
 |-- police_report_available: string (nullable = true)
 |-- total_claim_amount: float (nullable = true)
 |-- injury_claim: string (nullable = true)
 |-- property_claim: string (nullable = true)
 |-- vehicle_claim: string (nullable = true)
 |-- auto_make: string (nullable = true)
 |-- auto_model: string (nullable = true)
 |-- auto_year: string (nullable = true)
 |-- fraud_reported: string (nullable = true)
 |-- _c39: string (nullable = true)
 |-- missing_data: boolean (nullable = true)
 |-- age_group: string (nullable = true)
 |-- age_risk_score: float (nullable = true)
 |-- risque_selon_lanciennete: float (nullable = true)
 |-- risque_total: float (nullable = true)
 |-- risque_selon_la_fraude: float (nullable = true)
 |-- cathegorie_risque: string (nullable = true)
 |-- fraud_reported_bool: boolean (nullable = false)
 |-- policy_bind_date_parsed: date (nullable = true)
 |-- incident_date_parsed: date (nullable = true)
 |-- days_policy_to_incident: integer (nullable = true)
 |-- claim_to_premium_ratio: double (nullable = true)
 |-- insured_sex_clean: string (nullable = true)
 |-- avg_premium_by_occupation: double (nullable = true)
 |-- claim_count_by_occupation: long (nullable = false)
 |-- running_total_claims_area: double (nullable = true)
 |-- incident_rank_in_area: integer (nullable = false)
 |-- fraud_rate_by_profession: double (nullable = true)
 |-- accident_par_groupe_dage: long (nullable = false)
 |-- row_num: integer (nullable = false)
 |-- row_number: integer (nullable = false)

In [131]:
#deltaTable1 = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4_cdf")
deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")  
 
df1 = deltaTable.toDF()
# nous voulons savoir le nombre d'accident par groupe d'age
df_par_groupe_age = (df_agg.select('age_group', 'policy_number').groupBy('age_group').agg(count('policy_number').alias('nombre_daccident')))
df_par_groupe_age.show()
#data/delta_lake/insurance_claimsv3_cleansed/_delta_log/00000000000000000001.json

+-----------+----------------+
|  age_group|nombre_daccident|
+-----------+----------------+
|      Young|             182|
|Young_Adult|            2338|
|     Senior|             889|
| Middle_Age|            3591|
+-----------+----------------+

In [132]:
%%sparksql
CREATE OR REPLACE TEMPORARY VIEW bronzeTable_latest_version as
SELECT * FROM (
    SELECT *, 
        RANK() OVER (
        PARTITION BY (lower(months_as_customer), lower(age), lower(policy_number), policy_bind_date) 
        ORDER BY policy_annual_premium DESC) as prix_de_la_police  
    --FROM table_changes('default.insurance_claimsv3_cdf',{lastUpdateVersion},{latestVersion})
    FROM table_changes('default.insurance_claimsv3_cdf', 1, 8)  -- Corrected version order
    WHERE policy_annual_premium IS NOT NULL AND age IS NOT NULL AND policy_number IS NOT NULL AND  _change_type !='update_preimage'
)
WHERE prix_de_la_police > 500;

In [133]:
%%sparksql
SELECT _change_type, COUNT(*) FROM bronzeTable_latest_version GROUP BY _change_type

In [134]:
#df = spark.read.format("delta").load("/opt/workspace/data/delta_lake/insurance_claimsv3_cleansed")
df = spark.read.format("delta").load("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")
#insurance_claims/spark-warehouse/insurance_claimsv3_cdf

In [135]:
 df.show(5)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...| Side Collision|     Major Damage|               Police|            SC|     Columbus|   9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|               Police|            NY|     Columbus|7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Co...|Front Collision|     Major Damage|               Police|            OH|    Arlington| 6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|       Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|     3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 5 rows

In [136]:
%%sparksql
DESCRIBE HISTORY "/opt/workspace/data/delta_lake/insurance_claimsv3_cleansed"

In [137]:
 #Optimize performance with file management - Compaction (bin-packing)

In [138]:
deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")   
# For Hive metastore-based tables: deltaTable = DeltaTable.forName(spark, tableName)
deltaTable.optimize().executeCompaction()

DataFrame[path: string, metrics: struct<numFilesAdded:bigint,numFilesRemoved:bigint,filesAdded:struct<min:bigint,max:bigint,avg:double,totalFiles:bigint,totalSize:bigint>,filesRemoved:struct<min:bigint,max:bigint,avg:double,totalFiles:bigint,totalSize:bigint>,partitionsOptimized:bigint,zOrderStats:struct<strategyName:string,inputCubeFiles:struct<num:bigint,size:bigint>,inputOtherFiles:struct<num:bigint,size:bigint>,inputNumCubes:bigint,mergedFiles:struct<num:bigint,size:bigint>,numOutputCubes:bigint,mergedNumCubes:bigint>,numBatches:bigint,totalConsideredFiles:bigint,totalFilesSkipped:bigint,preserveInsertionOrder:boolean,numFilesSkippedToReduceWriteAmplification:bigint,numBytesSkippedToReduceWriteAmplification:bigint,startTimeMs:bigint,endTimeMs:bigint,totalClusterParallelism:bigint,totalScheduledTasks:bigint,autoCompactParallelismStats:struct<maxClusterActiveParallelism:bigint,minClusterActiveParallelism:bigint,maxSessionActiveParallelism:bigint,minSessionActiveParallelism:bigint>,deletionVectorStats:struct<numDeletionVectorsRemoved:bigint,numDeletionVectorRowsRemoved:bigint>,numTableColumns:bigint,numTableColumnsWithStats:bigint>]

In [139]:
%%sparksql
-- Optimizes the path-based Delta Lake table
OPTIMIZE "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4"

In [140]:
#Data skipping - Z-Ordering (multi-dimensional clustering)

In [141]:
deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")  # path-based table
# For Hive metastore-based tables: deltaTable = DeltaTable.forName(spark, tableName)
deltaTable.optimize().executeZOrderBy("age")

DataFrame[path: string, metrics: struct<numFilesAdded:bigint,numFilesRemoved:bigint,filesAdded:struct<min:bigint,max:bigint,avg:double,totalFiles:bigint,totalSize:bigint>,filesRemoved:struct<min:bigint,max:bigint,avg:double,totalFiles:bigint,totalSize:bigint>,partitionsOptimized:bigint,zOrderStats:struct<strategyName:string,inputCubeFiles:struct<num:bigint,size:bigint>,inputOtherFiles:struct<num:bigint,size:bigint>,inputNumCubes:bigint,mergedFiles:struct<num:bigint,size:bigint>,numOutputCubes:bigint,mergedNumCubes:bigint>,numBatches:bigint,totalConsideredFiles:bigint,totalFilesSkipped:bigint,preserveInsertionOrder:boolean,numFilesSkippedToReduceWriteAmplification:bigint,numBytesSkippedToReduceWriteAmplification:bigint,startTimeMs:bigint,endTimeMs:bigint,totalClusterParallelism:bigint,totalScheduledTasks:bigint,autoCompactParallelismStats:struct<maxClusterActiveParallelism:bigint,minClusterActiveParallelism:bigint,maxSessionActiveParallelism:bigint,minSessionActiveParallelism:bigint>,deletionVectorStats:struct<numDeletionVectorsRemoved:bigint,numDeletionVectorRowsRemoved:bigint>,numTableColumns:bigint,numTableColumnsWithStats:bigint>]

In [142]:
%%sparksql
OPTIMIZE "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4" ZORDER BY (age)

In [143]:
%%sparksql
DESCRIBE HISTORY "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4"

only showing top 20 row(s)

In [144]:
# Read the data as a DataFrame
df = (spark.read
      .format("csv")
      .option("header", "true")
      .load("../data/insurance_claims.csv"))

In [145]:
df.printSchema()

root
 |-- months_as_customer: string (nullable = true)
 |-- age: string (nullable = true)
 |-- policy_number: string (nullable = true)
 |-- policy_bind_date: string (nullable = true)
 |-- policy_state: string (nullable = true)
 |-- policy_csl: string (nullable = true)
 |-- policy_deductable: string (nullable = true)
 |-- policy_annual_premium: string (nullable = true)
 |-- umbrella_limit: string (nullable = true)
 |-- insured_zip: string (nullable = true)
 |-- insured_sex: string (nullable = true)
 |-- insured_education_level: string (nullable = true)
 |-- insured_occupation: string (nullable = true)
 |-- insured_hobbies: string (nullable = true)
 |-- insured_relationship: string (nullable = true)
 |-- capital-gains: string (nullable = true)
 |-- capital-loss: string (nullable = true)
 |-- incident_date: string (nullable = true)
 |-- incident_type: string (nullable = true)
 |-- collision_type: string (nullable = true)
 |-- incident_severity: string (nullable = true)
 |-- authorities_contacted: string (nullable = true)
 |-- incident_state: string (nullable = true)
 |-- incident_city: string (nullable = true)
 |-- incident_location: string (nullable = true)
 |-- incident_hour_of_the_day: string (nullable = true)
 |-- number_of_vehicles_involved: string (nullable = true)
 |-- property_damage: string (nullable = true)
 |-- bodily_injuries: string (nullable = true)
 |-- witnesses: string (nullable = true)
 |-- police_report_available: string (nullable = true)
 |-- total_claim_amount: string (nullable = true)
 |-- injury_claim: string (nullable = true)
 |-- property_claim: string (nullable = true)
 |-- vehicle_claim: string (nullable = true)
 |-- auto_make: string (nullable = true)
 |-- auto_model: string (nullable = true)
 |-- auto_year: string (nullable = true)
 |-- fraud_reported: string (nullable = true)
 |-- _c39: string (nullable = true)

In [146]:
from pyspark.sql.functions import substring, col
# Write the data to a Delta Lake table with partitioning
#on recupere la date,  Extraire les 4 premiers caractres (anne)
df_year = df.withColumn("year", substring(col("incident_date"), 1, 4))

df =  df_year.write.format("delta") \
    .partitionBy("year") \
    .mode("overwrite") \
    .save("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsPartitioning")

 

#df = df_year.write.partitionBy("year").delta("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsPartitioning")
#df.write.format("delta").mode("overwrite").saveAsTable("default.insurance_claimsV3")

In [147]:
# Query the partitioned table
df = spark.read.format("delta").load("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsPartitioning")
df.show()

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|year|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|2015|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|2015|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|2015|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Co...|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|2015|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|       Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|2015|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02|Multi-vehicle Col...| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y|null|2015|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13|Multi-vehicle Col...|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|2015|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27|Multi-vehicle Col...|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N|null|2015|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Co...|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N|null|2015|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Co...| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N|null|2015|
|               235| 42|       543610|      2002-05-26|          OH|   100/300|              500|              1253.12|       4000000|     462283|     FEMALE|                Masters|   exec-managerial|        dancing|      other-relative|        38400|           0|   2015-01-06|Single Vehicle Co...|Front Collision|       Total Loss|               Police|            NY|    Northbend|    1558 1st Ridge|                      22|                          1|            YES|              2|        2|                      ?|             87010|        7910|         15820|        63280|     Ford|      F150|     2002|             N|null|2015|
|               447| 61|       214618|      1999-05-29|          OH|   100/300|             2000|              1137.16|             0|     615561|     FEMALE|            High School|   exec-managerial|      skydiving|      other-relative|            0|      -51000|   2015-02-15|Multi-vehicle Col...|Front Collision|     Major Damage|                 Fire|            SC|  Springfield|      5971 5th Hwy|                      21|                          3|            YES|              1|        2|                    YES|            114920|       17680|         17680|        79560|     Audi|        A3|     2006|             N|null|2015|
|                60| 23|       842643|      1997-11-20|          OH|  500/1000|              500|              1215.36|       3000000|     432220|       MALE|                     MD|   protective-serv|        reading|                wife|            0|           0|   2015-01-22|Single Vehicle Co...| Rear Collision|       Total Loss|            Ambulance|            SC|    Northbend|    6655 5th Drive|                       9|                          1|            YES|              1|        0|                     NO|             56520|        4710|          9420|        42390|     Saab|        95|     2000|             N|null|2015|
|               121| 34|       626808|      2012-10-26|          OH|   100/300|             1000|               936.61|             0|     464652|     FEMALE|                     MD|      armed-forces| bungie-jumping|                wife|        52800|      -32800|   2015-01-08|          Parked Car|              ?|     Minor Damage|                 None|            SC|  Springfield|     6582 Elm Lane|                       5|                          1|             NO|              1|        1|                     NO|              7280|        1120|          1120|         5040|   Toyota|Highlander|     2010|             N|null|2015|
|               180| 38|       644081|      1998-12-28|          OH|   250/500|             2000|              1301.13|             0|     476685|     FEMALE|                College| machine-op-inspct|    board-games|       not-in-family|        41300|      -55500|   2015-01-15|Single Vehicle Co...| Rear Collision|       Total Loss|               Police|            SC|  Springfield|    6851 3rd Drive|                      12|                          1|             NO|              0|        2|                    YES|             46200|        4200|          8400|        33600|    Dodge|      Neon|     2003|             Y|null|2015|
|               473| 58|       892874|      1992-10-19|          IN|   100/300|             2000|               1131.4|             0|     458733|     FEMALE|                     MD|  transport-moving|         movies|      other-relative|        55700|           0|   2015-01-29|Multi-vehicle Col...| Side Collision|     Major Damage|                Other|            WV|    Hillsdale|   9573 Weaver Ave|                      12|                          4|            YES|              0|        0|                     NO|             63120|       10520|         10520|        42080|   Accura|       MDX|     1999|             Y|null|2015|
|                70| 26|       558938|      2005-06-08|          OH|  500/1000|             1000|              1199.44|       5000000|     619884|       MALE|                College| machine-op-inspct|         hiking|           own-child|        63600|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Major Damage|                Other|            NY|    Riverwood|       5074 3rd St|                       0|                          3|              ?|              1|        2|                    YES|             52110|        5790|          5790|        40530|   Nissan|    Maxima|     2012|             N|null|2015|
|               140| 31|       275265|      2004-11-15|          IN|  500/1000|              500|               708.64|       6000000|     470610|       MALE|            High School| machine-op-inspct|        reading|           unmarried|        53500|           0|   2015-01-06|Single Vehicle Co...| Side Collision|       Total Loss|               Police|            WV|    Northbend|      4546 Tree St|                       9|                          1|             NO|              0|        2|                    YES|             77880|       14160|          7080|        56640|   Suburu|    Legacy|     2015|             N|null|2015|
|               160| 37|       921202|      2014-12-28|          OH|  500/1000|              500|              1374.22|             0|     472135|     FEMALE|                     MD|      craft-repair|       yachting|      other-relative|        45500|      -37800|   2015-01-19|Single Vehicle Co...| Side Collision|       Total Loss|                Other|            NY|   Northbrook|   3842 Solo Ridge|                      19|                          1|            YES|              1|        0|                     NO|             72930|        6630|         13260|        53040|   Accura|        TL|     2015|             N|null|2015|
|               196| 39|       143972|      1992-08-02|          IN|  500/1000|             2000|              1475.73|             0|     477670|     FEMALE|            High School| handlers-cleaners|        camping|           own-child|        57000|      -27300|   2015-02-22|Multi-vehicle Col...| Side Collision|     Major Damage|               Police|            VA|     Columbus|    8101 3rd Ridge|                       8|                          3|              ?|              2|        0|                     NO|             60400|        6040|          6040|        48320|   Nissan|Pathfinder|     2014|             N|null|2015|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+----+
only showing top 20 rows

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [149]:
'''
#%%sparksql
# Cre une nouvelle table Delta  partir de la table existante
df1 = spark.read.format("delta").load("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")

# Sauvegarde le DataFrame dans une nouvelle table Delta
df1.write.format("delta").save("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7")

'''

'\n#%%sparksql\n# Cre une nouvelle table Delta  partir de la table existante\ndf1 = spark.read.format("delta").load("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv4")\n\n# Sauvegarde le DataFrame dans une nouvelle table Delta\ndf1.write.format("delta").save("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv7")\n\n'

In [150]:
#a. Crez une nouvelle table filtre contenant uniquement les donnes valides :
#-- Crer une nouvelle table avec seulement les lignes valides
#%%sparksql
# Excutez la requte SQL pour crer une nouvelle table filtre

# Crer une DataFrame filtre
df_filtered = spark.read.format("delta").load("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5") \
    .filter("auto_make IN ('Mercedes', 'Dodge', 'Nissan')")

# crire cette DataFrame dans une nouvelle table Delta
df_filtered.write.format("delta").mode("overwrite").save("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5_filtered")

In [151]:
df2 = spark.read.format("delta").load("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5_filtered")
df2.show(5)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|               Police|            NY|     Columbus|7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13|Multi-vehicle Col...|Front Collision|     Minor Damage|               Police|            NY|  Springfield|5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|
|               180| 38|       644081|      1998-12-28|          OH|   250/500|             2000|              1301.13|             0|     476685|     FEMALE|                College| machine-op-inspct|    board-games|       not-in-family|        41300|      -55500|   2015-01-15|Single Vehicle Co...| Rear Collision|       Total Loss|               Police|            SC|  Springfield|   6851 3rd Drive|                      12|                          1|             NO|              0|        2|                    YES|             46200|        4200|          8400|        33600|    Dodge|      Neon|     2003|             Y|null|
|                70| 26|       558938|      2005-06-08|          OH|  500/1000|             1000|              1199.44|       5000000|     619884|       MALE|                College| machine-op-inspct|         hiking|           own-child|        63600|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Major Damage|                Other|            NY|    Riverwood|      5074 3rd St|                       0|                          3|              ?|              1|        2|                    YES|             52110|        5790|          5790|        40530|   Nissan|    Maxima|     2012|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 5 rows

In [152]:
#Cloning Delta Tables

In [153]:
'''
%%sparksql
ALTER TABLE delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5_filtered` DROP CONSTRAINT auto_make;
'''

'\n%%sparksql\nALTER TABLE delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5_filtered` DROP CONSTRAINT auto_make;\n'

In [159]:
'''
%%sparksql
ALTER TABLE delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5_filtered` ADD CONSTRAINT auto_make CHECK (auto_make IN ('Mercedes', 'Show','TV Show'));
'''

"\n%%sparksql\nALTER TABLE delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5_filtered` ADD CONSTRAINT auto_make CHECK (auto_make IN ('Mercedes', 'Show','TV Show'));\n"

In [158]:
# Charger la table Delta dans un DataFrame
df = spark.read.format("delta").load("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5")

# Afficher les 10 premires lignes
df.show(10)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city| incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...| Side Collision|     Major Damage|               Police|            SC|     Columbus|    9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|      6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|               Police|            NY|     Columbus| 7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Co...|Front Collision|     Major Damage|               Police|            OH|    Arlington|  6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|       Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|      3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
|               256| 39|       104594|      2006-10-12|          OH|   250/500|             1000|               1351.1|             0|     478456|     FEMALE|                    PhD|      tech-support| bungie-jumping|           unmarried|            0|           0|   2015-01-02|Multi-vehicle Col...| Rear Collision|     Major Damage|                 Fire|            SC|    Arlington|8973 Washington St|                      19|                          3|             NO|              0|        2|                     NO|             64100|        6410|          6410|        51280|     Saab|        95|     2003|             Y|null|
|               137| 34|       413978|      2000-06-04|          IN|   250/500|             1000|              1333.35|             0|     441716|       MALE|                    PhD|    prof-specialty|    board-games|             husband|            0|      -77000|   2015-01-13|Multi-vehicle Col...|Front Collision|     Minor Damage|               Police|            NY|  Springfield| 5846 Weaver Drive|                       0|                          3|              ?|              0|        0|                      ?|             78650|       21450|          7150|        50050|   Nissan|Pathfinder|     2012|             N|null|
|               165| 37|       429027|      1990-02-03|          IL|   100/300|             1000|              1137.03|             0|     603195|       MALE|              Associate|      tech-support|   base-jumping|           unmarried|            0|           0|   2015-02-27|Multi-vehicle Col...|Front Collision|       Total Loss|               Police|            VA|     Columbus|      3525 3rd Hwy|                      23|                          3|              ?|              2|        2|                    YES|             51590|        9380|          9380|        32830|     Audi|        A5|     2015|             N|null|
|                27| 33|       485665|      1997-02-05|          IL|   100/300|              500|              1442.99|             0|     601734|     FEMALE|                    PhD|     other-service|           golf|           own-child|            0|           0|   2015-01-30|Single Vehicle Co...|Front Collision|       Total Loss|               Police|            WV|    Arlington|   4872 Rock Ridge|                      21|                          1|             NO|              1|        1|                    YES|             27700|        2770|          2770|        22160|   Toyota|     Camry|     2012|             N|null|
|               212| 42|       636550|      2011-07-25|          IL|   100/300|              500|              1315.68|             0|     600983|       MALE|                    PhD|   priv-house-serv|        camping|                wife|            0|      -39300|   2015-01-05|Single Vehicle Co...| Rear Collision|       Total Loss|                Other|            NC|    Hillsdale|  3066 Francis Ave|                      14|                          1|             NO|              2|        1|                      ?|             42300|        4700|          4700|        32900|     Saab|       92x|     1996|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+------------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 10 rows

In [162]:
%%sparksql
DELETE FROM delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5_shallow_clone1`

In [163]:
%%sparksql
CREATE OR REPLACE TABLE delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5_shallow_clone1` SHALLOW CLONE delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5`

In [164]:
%load_ext sparksql_magic
%config SparkSql.limit=20

The sparksql_magic extension is already loaded. To reload it, use:
  %reload_ext sparksql_magic

In [165]:
%%sparksql
DESCRIBE DETAIL delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5`

In [166]:
df = spark.read.format("delta").option("versionAsOf", 0).load("/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5")
df.show(5)

+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|months_as_customer|age|policy_number|policy_bind_date|policy_state|policy_csl|policy_deductable|policy_annual_premium|umbrella_limit|insured_zip|insured_sex|insured_education_level|insured_occupation|insured_hobbies|insured_relationship|capital-gains|capital-loss|incident_date|       incident_type| collision_type|incident_severity|authorities_contacted|incident_state|incident_city|incident_location|incident_hour_of_the_day|number_of_vehicles_involved|property_damage|bodily_injuries|witnesses|police_report_available|total_claim_amount|injury_claim|property_claim|vehicle_claim|auto_make|auto_model|auto_year|fraud_reported|_c39|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
|               328| 48|       521585|      2014-10-17|          OH|   250/500|             1000|              1406.91|             0|     466132|       MALE|                     MD|      craft-repair|       sleeping|             husband|        53300|           0|   2015-01-25|Single Vehicle Co...| Side Collision|     Major Damage|               Police|            SC|     Columbus|   9935 4th Drive|                       5|                          1|            YES|              1|        2|                    YES|             71610|        6510|         13020|        52080|     Saab|       92x|     2004|             Y|null|
|               228| 42|       342868|      2006-06-27|          IN|   250/500|             2000|              1197.22|       5000000|     468176|       MALE|                     MD| machine-op-inspct|        reading|      other-relative|            0|           0|   2015-01-21|       Vehicle Theft|              ?|     Minor Damage|               Police|            VA|    Riverwood|     6608 MLK Hwy|                       8|                          1|              ?|              0|        0|                      ?|              5070|         780|           780|         3510| Mercedes|      E400|     2007|             Y|null|
|               134| 29|       687698|      2000-09-06|          OH|   100/300|             2000|              1413.14|       5000000|     430632|     FEMALE|                    PhD|             sales|    board-games|           own-child|        35100|           0|   2015-02-22|Multi-vehicle Col...| Rear Collision|     Minor Damage|               Police|            NY|     Columbus|7121 Francis Lane|                       7|                          3|             NO|              2|        3|                     NO|             34650|        7700|          3850|        23100|    Dodge|       RAM|     2007|             N|null|
|               256| 41|       227811|      1990-05-25|          IL|   250/500|             2000|              1415.74|       6000000|     608117|     FEMALE|                    PhD|      armed-forces|    board-games|           unmarried|        48900|      -62400|   2015-01-10|Single Vehicle Co...|Front Collision|     Major Damage|               Police|            OH|    Arlington| 6956 Maple Drive|                       5|                          1|              ?|              1|        2|                     NO|             63400|        6340|          6340|        50720|Chevrolet|     Tahoe|     2014|             Y|null|
|               228| 44|       367455|      2014-06-06|          IL|  500/1000|             1000|              1583.91|       6000000|     610706|       MALE|              Associate|             sales|    board-games|           unmarried|        66000|      -46000|   2015-02-17|       Vehicle Theft|              ?|     Minor Damage|                 None|            NY|    Arlington|     3041 3rd Ave|                      20|                          1|             NO|              0|        1|                     NO|              6500|        1300|           650|         4550|   Accura|       RSX|     2009|             N|null|
+------------------+---+-------------+----------------+------------+----------+-----------------+---------------------+--------------+-----------+-----------+-----------------------+------------------+---------------+--------------------+-------------+------------+-------------+--------------------+---------------+-----------------+---------------------+--------------+-------------+-----------------+------------------------+---------------------------+---------------+---------------+---------+-----------------------+------------------+------------+--------------+-------------+---------+----------+---------+--------------+----+
only showing top 5 rows

In [167]:
%%sparksql
SELECT * FROM delta.`/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5` VERSION AS OF 0 LIMIT 3;

In [168]:
deltaTable = DeltaTable.forPath(spark, "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5")  # path-based tables, or
deltaTable.restoreToVersion(0) # restore table to oldest version

DataFrame[table_size_after_restore: bigint, num_of_files_after_restore: bigint, num_removed_files: bigint, num_restored_files: bigint, removed_files_size: bigint, restored_files_size: bigint]

In [169]:
%%sparksql
DESCRIBE HISTORY "/opt/workspace/insurance_claims/spark-warehouse/insurance_claimsv5"

In [11]:
spark.stop()